---
layout: default
title: Next Generation Networking Workshop 2025
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/Digital_Twin_Calgary.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Intelligent and Secure Next-Generation Networking: Architectures,
        Technologies, and Applications
      </h1>
      <div>
        <a class="btn btn-primary" href="#submission-guidelines"
          >Submit Paper to Workshop</a
        >
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 py-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row g-5">
    <div class="col-sm-4 d-flex flex-column gap-4">
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Important Dates</h4>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Submission Deadline</h5>
          <h6 class="text-decoration-line-through">April 30, 2025</h6>
          <h6 class="text-decoration-line-through">May 20, 2025</h6>
          <h6 class="text-decoration-line-through">June 15, 2025 (Firm)</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Authors Notification</h5>
          <h6 class="text-decoration-line-through">July 15, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Camera-Ready Submission</h5>
          <h6 class="text-decoration-line-through">August 1, 2025</h6>
        </div>
      </div>
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Organizers</h4>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Huaqing Wu <br />
                University of Calgary, Canada <br />
                <a href="mailto:huaqing.wu1@ucalgary.ca"
                  >huaqing.wu1@ucalgary.ca</a
                >
              </h5>
              <h5 class="fs-6">
                Steve Drew <br />
                University of Calgary, Canada <br />
                <a href="mailto:steve.drew@ucalgary.ca"
                  >steve.drew@ucalgary.ca</a
                >
              </h5>
              <h5 class="fs-6">
                Liang Xue <br />
                York University, Canada <br />
                <a href="mailto:lxue03@yorku.ca">lxue03@yorku.ca</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 d-flex flex-column gap-4">
      <div>
        <h2 class="fs-2 mb-2">
          Join us at the Next-Gen Networking Workshop 2025
        </h2>
        <p class="fs-5">
          The digital landscape is undergoing a radical transformation, driven
          by the proliferation of interconnected devices and data-intensive
          applications. This evolution necessitates the development of
          next-generation networks (NGNs) capable of handling unprecedented
          demands for speed, capacity, and intelligence. However, realizing this
          potential hinges on addressing critical security vulnerabilities and
          ensuring robust, intelligent management. The increasing complexity of
          network architectures, coupled with the rise of sophisticated cyber
          threats, requires a paradigm shift in how we design, deploy, and
          operate these critical infrastructures. Furthermore, the integration
          of artificial intelligence (AI) and machine learning (ML) offers
          powerful tools for optimizing network performance, automating
          management tasks, and enhancing security.
          <br /><br />
          This workshop aims to bring together researchers, industry experts,
          and practitioners to discuss advancements, challenges, and future
          directions in building intelligent, secure, and privacy-aware NGNs by
          integrating artificial intelligence (AI), edge computing,
          cybersecurity, and privacy-preserving technologies. It will explore
          the convergence of AI-driven network optimization, secure
          communication protocols, federated learning, and cybersecurity
          frameworks, fostering collaboration to shape the future of
          next-generation networking.
        </p>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
          <h2 class="fs-2">Discussion Topics</h2>
          <div class="row pb-3 g-4">
            <div class="col-12 mb-3 mb-sm-0">
              <h5 class="fs-5">
                Topics of discussion may include, but are not limited to:
              </h5>
              <ul>
                <li>Next-generation network architectures</li>
                <li>Cloud-edge-end computing in NGNs</li>
                <li>AI-driven network management and optimization</li>
                <li>AI workload-aware network infrastructure design</li>
                <li>
                  Secure communication protocols and encryption techniques
                </li>
                <li>
                  AI-driven cybersecurity for threat detection and mitigation in
                  NGNs
                </li>
                <li>
                  Blockchain-based security solutions for decentralized networks
                </li>
                <li>Federated learning for distributed intelligence in NGNs</li>
                <li>
                  Privacy-preserving AI techniques (differential privacy,
                  homomorphic encryption)
                </li>
                <li>Scalable federated learning for network intelligence</li>
                <li>
                  Intelligence and security for emerging applications including
                  smart cities, Internet of things (IoT), autonomous vehicles,
                  healthcare, etc.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="submission-guidelines" class="row">
        <div class="col-sm-12 d-flex flex-column gap-3 justify-content-around">
          <h2 class="fs-2">Submission Guidelines</h2>
          <p class="fs-5">
            Papers should be submitted via EDAS via the link below. All papers
            must be submitted electronically and in PDF format. The material
            presented should be original and not published or under submission
            elsewhere.
            <br /><br />
            Workshop papers must be no longer than 5 pages (excluding
            references) and strictly follow the IEEE Computer Society
            Proceedings Manuscript style, using two-column, single-space format,
            with 10-point font size. Authors are allowed to pay for up to TWO
            (2) additional pages with over length charge. All accepted papers of
            IEEE SWC, after being presented onsite at the conference, will be
            included in the conference proceedings and submitted for inclusion
            in the IEEE Xplore Digital Library. At least one of the authors of
            each accepted paper must register early to attend the conference, in
            order for the paper to appear in the conference proceedings.
          </p>
          <div
            class="d-flex flex-column gap-2 justify-content-start align-items-start"
          >
            <a
              class="btn btn-primary"
              href="https://edas.info/newPaper.php?c=33582&track=131132"
              target="_blank"
              >Submit Paper to Workshop</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
