---
layout: default
title: Keynotes - Dr. Shauna Zenteno
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..//assets/images/Shauna\ Zenteno\ Keynote.png');
    background-size: cover;
    background-position: 50% 65%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Women Leading the Smart World: Equity, Innovation, and the Power of
        Diverse Voices
      </h1>
      <h3>Presented by: Dr. Shauna Zenteno</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us in exploring how inclusive leadership, creativity, and diverse
          perspectives are essential to harnessing AI and emerging technologies
          for a smarter, more equitable, and sustainable world
        </h3>
        <p class="fs-5">
          We are at a time where significant advances in technology can be used
          to drive innovative solutions for complex global issues. On the
          journey to a smarter and sustainable future for everyone, the world
          has become more connected and advanced yet threatened by insecurity
          across multiple areas of society. The impacts of climate change,
          threats to human health, risks to food security, and increasing social
          inequities across populations are drivers for innovation. More
          technology-based solutions are being developed to address many of
          these issues, but how we develop and use them will determine our
          success. Development of technology is increasingly rapid, but
          magnitude of these issues leaves us increasingly vulnerable at a
          similar rate. <br /><br />
          Artificial intelligence (AI) is revolutionizing industries and
          re-shaping society. As the capacity for AI continues to expand, it is
          critical to recognize the role of diversity in driving innovation.
          Many organizations are signaling the need for inclusion in developing
          effective and ethical AI-based solutions. The UNESCO Fostering Women’s
          Leadership Report notes that diversity in AI-leadership is an economic
          and strategic advantage. Inclusive leaders foster teams that
          demonstrate more creative problem-solving through multiple
          perspectives, giving those organizations a competitive advantage.
          <br /><br />
          Throughout my career as a microbiologist, academic and administrator I
          have contributed and responded to the development of technology-based
          solutions in my research, teaching, and post-secondary leadership
          through creativity and inclusivity. In this talk I will highlight the
          importance of addressing gaps in the development of technology, in
          particular AI by building diverse teams, leading in an inclusive
          environment, fostering creativity, and developing opportunities for
          future scientists and leaders.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/Shauna Zenteno.jpg\' | relative_url }}"
            alt="Dr. Shauna Zenteno"
            class="circle-img mb-3"
          />
          <h5>Dr. Shauna Zenteno</h5>
          <h6><i>Dean of the Faculty of Science and Technology</i></h6>
          <h6><i>Athabasca University, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Dr. Shauna Reckseidler-Zenteno is the Dean of the Faculty of Science
          and Technology at Athabasca University since 2020. She is a Full
          Professor of Biology. She previously served as the Vice Dean,
          Operations in the Faculty of Graduate Studies at Athabasca University.
          As an academic and administrator, she has designed and taught several
          courses in biology and microbiology, developed innovations in open and
          online courses and programs, led major initiatives in support of
          digital education and research, overseen teaching and research growth
          in science, computing, and architecture, expanded community
          engagement, and participated in major institutional priorities and
          partnerships. Shauna completed a PhD in Microbiology and Infectious
          Diseases from the University of Calgary. Her research has been focused
          on bacterial genomics in understanding diseases, bacterial biofilms,
          antibiotic resistance, and ecosystem health. She has worked across
          disciplines to build communities and innovative approaches through her
          leadership, teaching, and research.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
