---
layout: default
title: SEGA Workshop 2025
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/Digital_Twin_Calgary.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        The 1st International Workshop on Smart Education in the Age of
        Generative AI (SEGA) 2025
      </h1>
      <h3>August 21, 2025</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 py-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row g-5">
    <div class="col-sm-4 d-flex flex-column gap-4">
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Important Dates</h4>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Submission Deadline</h5>
          <h6 class="">
            <s>May 10, 2025</s
            ><span class="text-decoration-line-through" style="color: red">
              May 25, 2025</span
            >
          </h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Acceptance Notification</h5>
          <h6 class="text-decoration-line-through">June 15, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Camera-Ready Version</h5>
          <h6 class="text-decoration-line-through">June 30, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Workshop Date</h5>
          <h6 class="text-decoration-line-through">August 21, 2025</h6>
        </div>
      </div>
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Organizers</h4>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">General Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Michael Pin-Chuan Lin <br />
                Mount Saint Vincent University, Canada <br />
                <a href="mailto:Michael.Lin@msvu.ca">Michael.Lin@msvu.ca</a>
              </h5>
              <h5 class="fs-6">
                Jeeho Ryoo <br />
                Fairleigh Dickinson University, Canada <br />
                <a href="mailto:j.ryoo@fdu.edu">j.ryoo@fdu.edu</a>
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Program Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Marco Ho<br />
                British Columbia Institute of Technology, Canada <br />
                <a href="mailto:marco_ho@bcit.ca">marco_ho@bcit.ca</a>
              </h5>
              <h5 class="fs-6">
                Francesco Pupo<br />
                The University of Calabria, Italy<br />
                <a href="mailto:francesco.pupo@unical.it"
                  >francesco.pupo@unical.it</a
                >
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Publicity Chair</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Thomas Kin-Fung Chiu<br />
                The Chinese University of Hong Kong, Hong Kong<br />
                <a href="mailto:tchiu@cuhk.edu.hk">tchiu@cuhk.edu.hk</a>
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Social Media Chair</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Gagan Jhajj<br />
                Athabasca University, Canada<br />
                <a href="mailto:gjhajj1@learn.athabascau.ca"
                  >gjhajj1@learn.athabascau.ca</a
                >
              </h5>
              <h5 class="fs-6">
                Hongxin Yan<br />
                Athabasca University, Canada<br />
                <a href="mailto:hongxiny@athabascau.ca"
                  >hongxiny@athabascau.ca</a
                >
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">
              Advisory Committee (in alphabetical order of last names)
            </h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Mohamed Ally <br />
                Athabasca University, Canada <br />
                <a href="mailto:mohameda@athabascau.ca"
                  >mohameda@athabascau.ca</a
                >
              </h5>
              <h5 class="fs-6">
                Jon Dron<br />
                Athabasca University, Canada <br />
                <a href="mailto:jond@athabascau.ca">jond@athabascau.ca</a>
              </h5>
              <h5 class="fs-6">
                Giancarlo Fortino <br />
                The University of Calabria, Italy<br />
                <a href="mailto:giancarlo.fortino@unical.it"
                  >giancarlo.fortino@unical.it</a
                >
              </h5>
              <h5 class="fs-6">
                Oscar Lin <br />
                Athabasca University, Canada<br />
                <a href="mailto:oscarl@athabascau.ca">oscarl@athabascau.ca</a>
              </h5>
              <h5 class="fs-6">
                Phil Winne<br />
                Simon Fraser University, Canada<br />
                <a href="mailto:winne@sfu.ca">winne@sfu.ca</a>
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">
              Technical Program Committee (in alphabetical order of last names)
            </h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Jamal Alsakran<br />Fairleigh Dickinson University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Jason Bernard<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Daniel Chang<br />Simon Fraser University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Thomas Chiu<br />The Chinese University of Hong Kong, Hong
                Kong<br />
              </h5>
              <h5 class="fs-6">
                Douglas Clark<br />University of Calgary, Canada<br />
              </h5>
              <h5 class="fs-6">
                Wenyun Dai <br />Fairleigh Dickinson University, USA<br />
              </h5>
              <h5 class="fs-6">
                Ali Dewan<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Sarah Eaton<br />University of Calgary, Canada<br />
              </h5>
              <h5 class="fs-6">
                Glen Farrelly<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Maurizio Gabbrielli<br />University of Bologna, Italy<br />
              </h5>
              <h5 class="fs-6">
                Sabine Graf<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Stella George<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Dongkun Han<br />The Chinese University of Hong Kong, Hong
                Kong<br />
              </h5>
              <h5 class="fs-6">
                Bob Heller<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Leon Lei<br />City University of Hong Kong, Hong Kong<br />
              </h5>
              <h5 class="fs-6">
                Xing Liu<br />Kwantlen Polytechnic University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Lukas Liu<br />The University of Hong Kong, Hong Kong<br />
              </h5>
              <h5 class="fs-6">
                Yaoqing Liu <br />Fairleigh Dickinson University, USA<br />
              </h5>
              <h5 class="fs-6">
                Zhiwei Mao <br />Fairleigh Dickinson University, USA<br />
              </h5>
              <h5 class="fs-6">
                Zahia Marzouk<br />Kwantlen Polytechnic University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Marina Milner-Bolotin<br />University of British Columbia,
                Canada<br />
              </h5>
              <h5 class="fs-6">
                Salma Noor<br />Fairleigh Dickinson University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Rita Orji<br />Dalhousie University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Yujung Park<br />Sungkyunkwan University, South Korea<br />
              </h5>
              <h5 class="fs-6">
                Fred Popowich<br />Simon Fraser University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Frank Rudzicz<br />Dalhousie University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Claudio Savaglio<br />The University of Calabria, Italy<br />
              </h5>
              <h5 class="fs-6">
                Angela Siegel<br />Dalhousie University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Kevin So<br />The Hong Kong Polytechnic University, Hong Kong<br />
              </h5>
              <h5 class="fs-6">
                Qing Tan<br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Avimanyou Vatsa <br />Fairleigh Dickinson University, USA<br />
              </h5>
              <h5 class="fs-6">
                Nicholas Vincent <br />Simon Fraser University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Vlad Voytenko <br />Athabasca University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Johan Woodworth<br />Mount Saint Vincent University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Shuo Xu<br />Beijing University of Technology, China<br />
              </h5>
              <h5 class="fs-6">
                Weidong Zhang<br />Northeastern University, Canada<br />
              </h5>
              <h5 class="fs-6">
                Xiaokun Zhang<br />Athabasca University, Canada<br />
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Steering Committee</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Oscar Lin (Chair) <br />
                Athabasca University, Canada <br />
                <a href="mailto:oscarl@athabascau.ca">oscarl@athabascau.ca</a>
              </h5>
              <h5 class="fs-6">
                Giancarlo Fortino <br />
                The University of Calabria, Italy<br />
                <a href="mailto:giancarlo.fortino@unical.it"
                  >giancarlo.fortino@unical.it</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 d-flex flex-column gap-4">
      <div>
        <h4>Featured Presentation</h4>
        <h2 class="fs-2 mb-2">
          Navigating the Future of AI in Education: Promise, Practice, and
          Principles
        </h2>
        <h5 class="mt-2">Invited Speaker:</h5>
        <div>
          <div class="text-center">
            <img
              src="{{ \'/assets/images/Laila - Picture.jpeg\' | relative_url }}"
              alt="Dr. Laila Khreisat"
              class="circle-img mb-3"
            />
            <h5>Dr. Laila Khreisat</h5>
            <h6>
              <i>Interim Dean of Olsen College of Engineering and Science</i>
            </h6>
            <h6><i>Fairleigh Dickinson University</i></h6>
          </div>
          <div class="">
            <h4>Biography</h4>
            <p>
              Dr. Laila Khreisat is a seasoned academic leader and educator with
              over 20 years of experience in computer science, engineering, and
              interdisciplinary STEM education. She currently serves as the
              Interim Dean of Olsen College of Engineering and Science at
              Fairleigh Dickinson University (FDU), where she oversees strategic
              planning, faculty development, program accreditation, and
              interdisciplinary collaboration across multiple campuses.
              <br /><br />
              Dr. Khreisat holds a Ph.D. in Electrical Engineering and a M.Sc.
              in Computer Science. She has successfully secured over $2.3
              million in external funding to support student success
              initiatives, diversity in STEM, and K–12 teacher training. A
              champion for equity and student-centered learning, she has led
              multiple institutional efforts to increase the recruitment and
              retention of underrepresented students and women in STEM.
              <br /><br />
              Known for her collaborative leadership style and data-informed
              decision-making, Dr. Khreisat plays a key role in faculty
              governance and academic innovation. She has contributed to
              national networks such as the National Center for Women &
              Information Technology (NCWIT) and The National Alliance of
              Hispanic-Serving Institutions (CAHSI), and has presented at
              regional and national conferences on topics ranging from AI in
              education to inclusive STEM practices.
            </p>
          </div>
        </div>
      </div>
      <hr class="w-100" />
      <div>
        <h2 class="fs-2 mb-2 mt-3">Join us for the SEGA Workshop 2025</h2>
        <p class="fs-5">
          This workshop seeks to bridge innovation and responsibility in
          AI-enhanced education by uniting researchers, educators, and
          technologists. It will explore a range of Machine Learning (ML) and
          Artificial Intelligence (AI) methodologies—including generative AI,
          reinforcement learning, supervised and unsupervised learning, and
          user-centered design—to address challenges such as content quality,
          ethical alignment, and adaptive learning systems. Participants will
          examine strategies to optimize AI- and ML-generated educational
          materials, enhance human-AI interaction frameworks, and implement
          personalized learning pathways. Submissions employing computational,
          empirical, or design-based approaches are welcome. The workshop
          particularly encourages interdisciplinary contributions that advance
          both efficacy and equity in education.
        </p>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
          <h2 class="fs-2">Key Topics</h2>
          <div class="row pb-3 g-4">
            <div class="col-12 mb-3 mb-sm-0">
              <h5 class="fs-5">Key topics include:</h5>
              <ul>
                <li>Technical Challenges in AI- and ML-Driven Education</li>
                <li>
                  Methodologies and Tools (e.g., RL, LLMs,
                  supervised/unsupervised learning, user-centered design)
                </li>
                <li>Human-AI Interaction Design</li>
                <li>Ethical and Governance Considerations</li>
                <li>Case Studies and Applications</li>
              </ul>
              <h5 class="fs-5">The workshop invites contributions on:</h5>
              <ul>
                <li>Novel AI/RL/ML algorithms for education</li>
                <li>
                  Empirical studies on AI's impact on learning effectiveness
                </li>
                <li>
                  Theoretical and conceptual frameworks that inform the design,
                  integration, or critique of AI in education
                </li>
                <li>Evaluation frameworks for AI-generated content</li>
                <li>
                  Institutional ethical guidelines and policy recommendations
                </li>
              </ul>
              <h5 class="fs-5">
                This workshop aims to catalyze actionable insights for creating
                AI systems that augment human expertise while prioritizing
                pedagogical integrity. We welcome both empirical research and
                theoretical explorations that advance critical, ethical, and
                pedagogically grounded understandings of AI in educational
                contexts.
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div id="submission-guidelines" class="row">
        <div class="col-sm-12 d-flex flex-column gap-3 justify-content-around">
          <h2 class="fs-2">Submission Guidelines</h2>
          <p class="fs-5">
            To respect the efforts of reviewers and in the interest of fairness
            to all prospective authors, we request that all submissions to SEGA
            2025 follow the formatting and submission rules detailed below. To
            maintain a review process that is fair to all potential authors,
            submissions that violate these instructions may not be reviewed.
          </p>
          <h5 class="fs-4">Requirements</h5>
          <p class="fs-5">
            We invite submissions in two categories: regulars (6 pages) and
            short papers (4 pages) excluding references.
          </p>
          <ul>
            <li>No appendix is allowed</li>
            <li>
              Each reference must specify all authors up to including 6, then
              use et al. beyond 6.
            </li>
            <li>
              Submissions should include the title, author(s), affiliation(s),
              e-mail address(es), and institution information in the first page
            </li>
            <li>Paper size: US Letter 8.5in x 11in</li>
            <li>Ensure that the figures and tables are legible</li>
          </ul>
          <p class="fs-5">
            A submission can have at most 2 additional pages with the pages
            overlength charge if accepted. The material presented should be
            original and not published or under submission elsewhere. All
            manuscripts should be formatted manuscripts must be in English,
            following the IEEE two-column manuscript templates for conference
            proceedings instructions:
            <a
              href="https://www.ieee.org/conferences/publishing/templates.html"
              target="_blank"
            >
              Template</a
            >
            <br /><br />
            All types of papers should be submitted via the conferences’ EDAS
            system. Authors should register with the EDAS system first, and then
            make the submission via the conference link. Declare all the authors
            of the paper upfront. Addition/removal of authors once the paper is
            accepted will have to be approved by the program chairs, since it
            potentially undermines the goal of eliminating conflicts for
            reviewer assignment.
          </p>
          <a
            href="https://edas.info/newPaper.php?c=33582&track=131098"
            target="_blank"
            class="btn btn-primary w-50"
            >Submit Your Work</a
          >
          <br /><br />
          <h2 class="fs-2">Publication</h2>
          <p class="fs-5">
            SEGA 2025 is scheduled as a hybrid meeting. For each accepted paper,
            at least one author must register and participate in the workshop.
            All accepted workshop papers will be published by IEEE CPS (IEEE-DL
            and EI indexed). Best Paper Awards will be presented to high quality
            papers. Selected papers will be recommended to special issues. More
            details can be found via
            <a href="http://ieee-smart-world.org/2025/">SWC Website</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
