---
layout: default
title: Tutorials - Advances in Knowledge Graph Computation in the Era of Generative AI
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/knowledge_graphs_gen_ai.png');
    background-size: cover;
    background-position: 50% 20%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Advances in Knowledge Graph Computation in the Era of Generative AI
      </h1>
      <h3>Presented by: Dr. Xiaokun Zhang, Athabasca University, Canada</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us in exploring knowledge graph computation in the era of
          generative AI
        </h3>
        <p class="fs-5">
          The goal of this tutorial talk is to motivate and give a comprehensive
          introduction to the essential concepts of graph-based knowledge
          representation and construction, methods in knowledge graph
          computation, higher-order knowledge relations with hypergraph, and
          roles of knowledge graphs in the wave of generative AI enhanced
          applications and beyond. Knowledge graphs (KGs) provide a framework
          for organizing, accessing, and deriving knowledge through the
          interplay of symbolic representing and deductive reasoning, and
          statistical (inductive) learning. KGs empower a wide range of
          intelligent applications across domains like healthcare, finance,
          transportation, education, service industry, and various science and
          technology domains.
          <br /><br />
          The intended audience in this talk includes researchers and
          practitioners who are new to KGs or are interested in incorporating
          KGs based approaches to leveraging domain specific applications from
          various perspectives. As such, we do not assume that audiences have
          specific expertise on knowledge graphs.
          <br /><br />
          Knowledge graph computation is a big topic in terms of the scopes of
          the domain dependent depth and breath. This talk focuses on some
          limited and fundamental issues along with briefly introducing the
          basic concepts in knowledge graphs.
          <br /><br />
          The talk focuses on the following research questions:
        </p>
        <ul class="fs-5">
          <li>
            How can semantic completeness and consistency be ensured within KGs?
          </li>
          <li>How to extract and build KGs from raw data?</li>
          <li>
            How to interplay symbolic representing and deductive reasoning with
            statistical (inductive) learning through the upper stream of KGs
            construction and down stream of KGs applications?
          </li>
        </ul>
        <p class="fs-5">
          The talk will address the following issues and topics:
        </p>
        <ol class="fs-5">
          <li>
            Foundation of graph-based knowledge representation and construction
            <ol type="a">
              <li>
                Modelling and representing KGs
                <ol type="i">
                  <li>RDF (Resource Description Framework) and RDF schema</li>
                  <li>Structural KGs vs. attributed KGs</li>
                  <li>Actional knowledge graphs</li>
                  <li>Temporal knowledge graphs</li>
                </ol>
              </li>
              <li>
                KGs construction
                <ol type="i">
                  <li>Explicit KGs (deductive KGs)</li>
                  <li>Implicit KGs (inductive KGs)</li>
                </ol>
              </li>
              <li>KGs completion</li>
              <li>
                KGs validation and measurement
                <ol type="i">
                  <li>Structural quality</li>
                  <li>Knowledge quality</li>
                  <li>Entropy for measuring knowledge graphs</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            Methods in knowledge graph computation
            <ol type="a">
              <li>
                Explicit KGs computation
                <ol type="i">
                  <li>Rule-based approaches</li>
                  <li>Ontology-driven methods</li>
                  <li>Schema matching and integration</li>
                  <li>Crowdsourced/manual curation</li>
                </ol>
              </li>
              <li>
                Implicit KGs computation
                <ol type="i">
                  <li>KGs embedding</li>
                  <li>
                    BERT-based models and ChatGPT-4 to learn KGs from text, etc.
                  </li>
                </ol>
              </li>
              <li>
                Latent knowledge induction
                <ol type="i">
                  <li>
                    Matrix and tensor factorization, topic modeling, and
                    clustering
                  </li>
                </ol>
              </li>
              <li>
                Relation extraction via deep learning
                <ol type="i">
                  <li>Transformer-based models and sequence labeling</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>
            Higher-order knowledge relations with hypergraph
            <ol type="a">
              <li>Concepts of knowledge hypergraph (KHGs) computation</li>
              <li>Methods for KHGs construction</li>
              <li>Approaches to KHGs computation</li>
              <li>
                Applications of KHGs
                <ol type="i">
                  <li>KHGs augmented cognitive intelligence</li>
                  <li>KHGs enhanced representation for learning experience</li>
                </ol>
              </li>
            </ol>
          </li>
          <li>KGs enhanced generative AI applications</li>
        </ol>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/Xiaokun_Zhang.jpg\' | relative_url }}"
            alt="Dr. Xiaokun Zhang"
            class="circle-img mb-3"
          />
          <h5>Dr. Xiaokun Zhang</h5>
          <h6><i>Athabasca University, Canada</i></h6>
          <a href="mailto:xiaokunz@athabascau.ca">xiaokunz@athabascau.ca</a>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Dr. Xiaokun Zhang is an associate professor in School of Computing and
          Information Systems in Athabasca University in Canada. He earned his
          PhD in engineering on research in computer integrated manufacturing
          engineering from Northwestern Polytechnic University in China in 1995.
          He was Nortel research fellow and post-doctoral fellow from 1998 until
          2001 in University of Calgary and visiting professor in University of
          Iowa in US in 1997. His recent research and teaching areas primarily
          focus on the system analysis and dynamic modeling in heterogeneous
          cyber-physical-social interaction, and semantic computing enhanced
          cognitive computing and data analytics towards decentralized real-time
          control and monitoring systems, environmental and engineering
          computing systems, and smart eLearning systems. He serves IEEE SMC
          (Systems, Man, & Cybernetics Society) technical committee on
          computer-supported cooperative work in design, and program committees
          in various annual conferences in computing and information systems. He
          supervised post-doctoral fellow, graduate students' essay, projects,
          and thesis
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
