---
layout: default
title: Call for Tutorials
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/keynote.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Call for Tutorials in the IEEE Smart World Congress 2025
      </h1>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <p class="fs-5">
          The IEEE Smart World Congress 2025 Organizing Committee invites
          proposals for tutorials to be held on August 18 (1:00pm-5:00pm).
          Tutorials in the congress are dedicated to showcasing the
          state-of-the-art technologies and tools of smart world, ranging from
          Artificial Intelligence to the Internet of Things, from Cybersecurity
          to Smart Education, to Renewable energy, to name a few, as well as
          facilitating hands-on practices for the participants. <br /><br />
          Tutorials should encourage a deeper engagement to acquire working
          knowledge of challenges and opportunities in cutting-edge areas, and
          the state-of-the-art tools to achieve goals. Whether a participant is
          a seasoned professional, an aspiring student, an entrepreneur, or
          simply a person interested in advanced technologies, tutorials provide
          a place for them to gain new knowledge, share insights, understand
          challenges, and acquire experiences on the smart world. Moreover,
          tutorials should also promote meaningful connections and new
          collaborations amongst participants.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">Workshop Topics include, but are not limited to:</h3>
        <div class="row">
          <div class="col-md-6">
            <ul class="fs-5">
              <li>Generative AI in a particular field</li>
              <li>Vanguard Artificial General Intelligence innovations</li>
              <li>Countering challenges in smart technology</li>
              <li>Success stories and role models in the field</li>
              <li>Breaking stereotypes and overcoming biases</li>
              <li>
                Opportunities and trends in emerging intelligent technologies
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="fs-5">
              <li>
                The impact of smart technology on people’s lives and empowerment
              </li>
              <li>Education and mentorship initiatives</li>
              <li>
                Strategies for fostering a more inclusive and supportive
                environment
              </li>
              <li>Ethical considerations and responsible innovation</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">Workshop Topics include, but are not limited to:</h3>
        <p class="fs-5">
          The proposal should be concise (no more than 1000 words) and clearly
          describe the content and objectives of the tutorial and shall include:
        </p>
        <ul class="fs-5">
          <li>Title of the tutorial</li>
          <li>Abstract, objectives, and motivation</li>
          <li>
            Name, affiliation, and a short biography (maximum 200 words) and
            photo of each tutorial instructor
          </li>
          <li>
            A description of the topics that the tutorial will address,
            emphasizing their timeliness
          </li>
          <li>An outline of the tutorial, including a tentative schedule</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">Submission Guidelines</h3>
        <ul class="fs-5">
          <li>
            Please email your proposals in a single World or PDF file to Prof.
            Oscar Lin at
            <a href="mailto:oscarl@athabascau.ca">oscarl@athabascau.ca</a>
          </li>
          <li>
            Please use <b>"Tutorial in Smart World Congress Proposal"</b> as the
            email subject
          </li>
        </ul>
        <p class="fs-5 mt-4">
          <b>Please note</b> that tutorial instructors of accepted proposals
          must get free registration to the whole event, and should present in
          person at the Congress to deliver the tutorial.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
