---
layout: default
title: Tutorials - Towards Resilient and Ultrasafe Energy Systems for the Next-Gen Smart Grid
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/american-public-power-association-eIBTh5DXW9w-unsplash.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Towards Resilient and Ultrasafe Energy Systems for the Next-Gen Smart
        Grid
      </h1>
      <h3>Presented by: Dr. Saher Javaid, Kanazawa Gakuin University, Japan</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us and learn how intelligent energy management systems are
          changing the future of sustainable and smart energy infrastructure
        </h3>
        <p class="fs-5">
          Recently, the number of major electrical blackouts caused by natural
          disasters has been growing in Japan and all over the world. A
          microgrid is a small-scale, independent power electrical grid that can
          supply energy to survivors after a disaster. However, microgrids still
          face numerous challenges, including technical complexities, logistical
          barriers, and high implementation costs. This tutorial focuses on the
          <span class="text-decoration-underline"
            >design and control issues</span
          >
          for the energy management system in a microgrid. <br /><br />This
          tutorial aims
          <span class="text-decoration-underline fw-bold"
            >to explore the fundamental theories of resilience and robustness
            for an energy management system incorporating renewable energy
            sources, such as solar panels and wind turbines, energy storage
            systems, and energy loads within a microgrid</span
          >. Due to the fluctuation of renewable energy sources and energy
          loads, this tutorial addresses the need for proper design and control
          for an energy management system with consideration of “Safeness and
          Robustness Against Fluctuation,” ensuring safe, robust, and resilient
          operation under varying conditions, including normal operation,
          resource limitations, and disruptions. <br /><br />
          In this tutorial, participants will gain insights into the design and
          implementation of intelligent energy management systems, with an
          emphasis on real-world applications, control mechanisms, and future
          directions in the context of sustainable and smart energy
          infrastructures.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/Saher_Javaid.png\' | relative_url }}"
            alt="Dr. Saher Javaid"
            class="circle-img mb-3"
          />
          <h5>Dr. Saher Javaid</h5>
          <h6><i>Kanazawa Gakuin University, Ishikawa, Japan</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Dr. Saher Javaid is an Associate Professor at Kanazawa Gakuin
          University, Ishikawa, Japan, with extensive experience in smart energy
          systems and information science. Dr. Saher Javaid received her Ph.D.
          in Information Science from Japan Advanced Institute of Science and
          Technology (JAIST), Japan.
          <br /><br />
          From 2017 to 2025, she served as an Assistant Professor at JAIST,
          where she contributed to addressing both theoretical and applied
          challenges in future energy systems, with an emphasis on real-world
          deployment, control algorithms, and sustainability.
          <br /><br />
          From 2014 to 2017, she served as an Assistant Professor at Kyoto
          University, Japan, where she contributed to the i-Energy project,
          focusing on the integration of information and electric power
          networks. Dr. Saher Javaid’s research focuses on distributed sensing
          and control, energy-on-demand, power flow coloring, and smart energy
          management systems.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
