---
layout: default
title: Tutorials - Intelligent Network Management for Next-Generation Networks
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/conny-schneider-xuTJZ7uD7PI-unsplash.jpg');
    background-size: cover;
    background-position: 50% 40%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Intelligent Network Management for Next-Generation Networks
      </h1>
      <h3>Presented by: Dr. Huaqing Wu, University of Calgary</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us in exploring how AI is revolutionizing the intelligent
          management of next-generation networks across land, air, and space
        </h3>
        <p class="fs-5">
          Next-generation networks are increasingly complex, spanning
          terrestrial, aerial, and space domains while supporting highly dynamic
          environments like vehicular networks. Traditional network management
          techniques fall short in coping with the scale, heterogeneity, and
          agility demanded by 6G and beyond. This tutorial presents a
          comprehensive overview of AI-assisted intelligent network management
          frameworks. This tutorial begins by providing a deep dive into the
          architectural and operational characteristics of modern networking
          systems. We explore the evolution of vehicular networks (V2X) and the
          convergence of terrestrial, aerial, and satellite components in future
          mobile systems. We then pivot to intelligent network management and
          the critical role of AI and machine learning in enabling scalable,
          autonomous control.
          <br /><br />
          Attendees will learn how edge intelligence, reinforcement learning,
          and federated learning can be used to address mobility, latency, and
          resource allocation challenges in these domains. We also discuss open
          research challenges around implementation complexity, privacy, and
          standardization. This tutorial ultimately aims to equip attendees with
          a holistic understanding of intelligent management in future network
          systems.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/Huaqing_Wu.png\' | relative_url }}"
            alt="Dr. Huaqing Wu"
            class="circle-img mb-3"
          />
          <h5>Dr. Huaqing Wu</h5>
          <h6><i>University of Calgary, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Huaqing Wu received the Ph.D. degree from the University of Waterloo,
          Ontario, Canada, in 2021, and the B.E. and M.E. degrees from Beijing
          University of Posts and Telecommunications, Beijing, China, in 2014
          and 2017, respectively. Dr. Wu is currently an assistant professor
          with the Department of Electrical and Software Engineering, University
          of Calgary, Alberta, Canada. Her current research interests include
          B5G/6G, space-air-ground integrated networks, Internet of vehicles,
          mobile/edge computing/caching, artificial intelligence (AI) for future
          networking.
          <br /><br />
          She received the N2Women: Rising Stars in Computer Networking and
          Communications Award in 2024. She received the Best Paper Awards at
          IEEE GLOBECOM 2018, Chinese Journal on Internet of Things 2020, IEEE
          GLOBECOM 2022, and IEEE GLOBECOM 2024. Dr. Wu was the Symposium
          Co-Chair of IEEE GLOBECOM 2024 on Communication QoS, Reliability and
          Modeling Symposium and the Keynote and Panel Co-chair of IEEE INFOCOM
          Workshop on Pervasive Network Intelligence for 6G Network from 2022 to
          2024. She serves as an Associate Editor in IEEE Communications Surveys
          & Tutorials since 2024, in IEEE Network since 2023, and in Security
          and Safety Journal since 2021.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
