<footer class="bg-black text-light py-4">
  <div class="m-auto container-fluid px-3 px-md-3 px-lg-3 px-xxl-0 py-3" style="max-width: 1400px">
    <div class="row g-5">
      <div class="col-12 col-md-3 col-lg-4 d-flex flex-column gap-3">
        <div class="navbar-brand d-flex flex-row align-items-center gap-2">
          <img src="{{ '/assets/images/ieee mb white png.png' | relative_url }}" height="22px" />
          <p class="m-0 mt-1 fs-4 fw-semibold">SWC 2026</p>
        </div>
        <p class="fs-6">
          The IEEE Smart World Congress 2026 (IEEE SWC 2026) will be held from
          {{site.data.swc_data.dates.conferenceDates}}, in Rende, Calabria, Italy, focusing on advancements in
          smart technologies like IoT, AI, smart cities, and cybersecurity.
        </p>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex flex-column gap-lg-3">
        <h3 class="fs-4 mt-1">Conferences</h3>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" href="{{ '/swc' | relative_url }}">SWC 2026</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ '/atc' | relative_url }}">ATC 2026</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ '/digitaltwin' | relative_url }}">Digital Twin 2026</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ '/metaverse' | relative_url }}">Metaverse 2026</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ '/scalcom' | relative_url }}">ScalCom 2026</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ '/uic' | relative_url }}">UIC 2026</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-2 d-flex flex-column gap-lg-3">
        <h3 class="fs-4 mt-1">Links</h3>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item" href="{{ '/contact' | relative_url }}">Contact</a>
          </li>
          <li>
            <a class="dropdown-item" href="{{ '/venue/unical_congress_center/' | relative_url }}">Venue</a>
          </li>
          <!-- <li>
            <a class="dropdown-item" href="{{ '/program/industry-day/' | relative_url }}"
              >Industry Day</a
            >
          </li> -->
          <li>
            <a class="dropdown-item" href="{{ '/travel/visa-information/' | relative_url }}">Visa Information</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-4 mb-4">
        <div class="d-flex flex-column gap-2 justify-content-start align-content-start">
          <!-- <a href="/registration" class="btn btn-secondary text-decoration-none"
            >Register for SWC 2026</a
          > -->
          <!-- <a
            href=""
            class="btn btn-primary"
            download
          >
            <i class="bi bi-download"></i> Download Program Schedule (PDF)
          </a> -->
          <a href="{{ '/swc' | relative_url }}" class="btn btn-primary text-decoration-none">Call for Papers and
            Proposals</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex flex-row justify-content-center align-items-center py-1">
    <p class="m-0">
      &copy; {{ site.time | date: "%Y" }} IEEE Smart World Congress 2026
    </p>
  </div>
</footer>