<nav class="navbar navbar-expand-xl navbar-dark bg-black px-sm-3 px-2 fixed-top"
  style="padding-top: 0.9rem !important; padding-bottom: 0.9rem !important">
  <div class="container-fluid navbar-content p-0">
    <a class="navbar-brand d-flex flex-row align-items-center gap-2" href="{{ '/' | relative_url }}"><img
        src="{{ '/assets/images/ieee mb white png.png' | relative_url }}" height="22px" />

      <!-- <p class="m-0 d-sm-block d-none mt-1">Smart World Congress 2025</p> -->
      <p class="m-0 mt-1 fw-semibold">SWC 2026</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Conferences
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/swc/' | relative_url }}">SWC 2026</a>
            </li>
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/atc' | relative_url }}">ATC 2026</a>
            </li>
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/digitaltwin' | relative_url }}">Digital Twin 2026</a>
            </li>
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/metaverse' | relative_url }}">Metaverse 2026</a>
            </li>
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/scalcom' | relative_url }}">ScalCom 2026</a>
            </li>
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/uic' | relative_url }}">UIC 2026</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Workshops
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <!-- <li class="">
              <a class="dropdown-item text-wrap" href="{{ \'/workshops/iaiddt/\' | relative_url }}">
                IAIDDT 2025</a
              >
            </li>
            <li class="">
              <a class="dropdown-item text-wrap" href="{{ \'/workshops/fusion/\' | relative_url }}">
                Fusion 2025
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/workshops/next-gen-networking/\' | relative_url }}"
              >
                Next Generation Networking 2025
              </a>
            </li>
            <li class="">
              <a class="dropdown-item text-wrap" href="{{ \'/workshops/sega/\' | relative_url }}">
                SEGA 2025
              </a>
            </li> -->
            <li><span class="dropdown-item">Coming soon...</span></li>
            <li class="border-top mt-2 pt-2">
              <a class="dropdown-item text-wrap" href="{{ '/swc/' | relative_url }}#call-for-ws-ss">Call for Papers</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Special Sessions
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <!-- <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ '/special-sessions/ai-and-machine-learning/' | relative_url }}"
              >
                AI and Machine Learning</a
              >
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ '/special-sessions/5g-enabled-uavs-and-ml-for-iot-uav-networks/' | relative_url }}"
              >
                5G-Enabled UAV and ML for IOT/UAV Networks
              </a>
            </li> -->
            <li><span class="dropdown-item">Coming soon...</span></li>
            <li class="border-top mt-2 pt-2">
              <a class="dropdown-item text-wrap" href="{{ '/swc/' | relative_url }}#call-for-ws-ss">Call for Papers</a>
            </li>
          </ul>
        </li>
        <!-- <li class="nav-item dropdown align-content-center">
          <a
            class="nav-link dropdown-toggle text-white"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Forums & Panels
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li class="mt-2">
              <span class="dropdown-item-text text-white">Forums</span>
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/forums/women-in-the-smart-world/\' | relative_url }}"
              >
                Women in the Smart World</a
              >
            </li>
            <li class="border-top mt-2 pt-2">
              <span class="dropdown-item-text text-white">Panels</span>
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/panels/ais-transformative-influence-on-higher-education/\' | relative_url }}"
              >
                AI's Transformative Influence on Higher Education</a
              >
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ '/uic/#rethinking-research-in-the-age-of-ai' | relative_url }}"
              >
                Rethinking Research in the Age of AI</a
              >
            </li>
          </ul>
        </li> -->
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Keynotes
          </a>
          <ul class="dropdown-menu dropdown-menu-black">
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/keynotes/zidong-wang' | relative_url }}">Zidong Wang</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link dropdown-toggle text-white text-wrap" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Tutorials
          </a>
          <ul class="dropdown-menu dropdown-menu-black dropdown-menu-end">
            <!-- <li class="pt-2">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/tutorials/intelligent-network-management-for-next-generation-networks/\' | relative_url }}"
              >
                Intelligent Network Management for Next-Generation Networks
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/tutorials/advances-in-knowledge-graph-computation-in-the-era-of-gen-ai/\' | relative_url }}"
              >
                Knowledge Graph Computation in the Era of Gen AI
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/tutorials/roadmap-of-federated-learning-from-motivation-to-practice/\' | relative_url }}"
              >
                Roadmap of Federated Learning: from Motivation to Practice
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/tutorials/sensing-the-mind/\' | relative_url }}"
              >
                Sensing the Mind
              </a>
            </li>
            <li class="">
              <a
                class="dropdown-item"
                style="min-width: 250px"
                href="{{ \'/tutorials/the-practice-of-using-language-models/\' | relative_url }}"
              >
                The Practice of Using Language Models
              </a>
            </li>
            <li class="mb-2">
              <a
                class="dropdown-item text-wrap"
                style="min-width: 250px"
                href="{{ \'/tutorials/towards-resilient-and-ultrasafe-energy-systems-for-the-next-gen-smart-grid/\' | relative_url }}"
              >
                Towards Resilient and Ultrasafe Energy Systems for the Next-Gen
                Smart Grid
              </a>
            </li>
            <li class="border-top pt-2">
              <a
                class="dropdown-item text-wrap"
                href="{{ \'/tutorials/call-for-tutorials/\' | relative_url }}"
              >
                Call for Tutorials
              </a>
            </li> -->
            <li><span class="dropdown-item">Coming soon...</span></li>
          </ul>
        </li>
        <!-- <li class="nav-item dropdown align-content-center">
          <a class="nav-link text-white" href="{{ \'/program/industry-day/\' | relative_url }}"
            >Industry Day</a
          >
        </li>
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link text-white" href="{{ \'/program\' | relative_url }}">Program</a>
        </li> -->
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            About
          </a>
          <ul class="dropdown-menu dropdown-menu-black dropdown-menu-end">
            <li>
              <a class="dropdown-item text-wrap" style="min-width: 250px"
                href="{{ '/venue/unical_congress_center/' | relative_url }}">Venue</a>
            </li>
            <li>
              <a class="dropdown-item text-wrap" href="{{ '/travel/getting-there/' | relative_url }}">Getting There</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ '/travel/accommodation/' | relative_url }}">Accommodation</a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ '/travel/visa-information' | relative_url }}">Visa and Invitation
                Letter</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link text-white" href="{{ '/sponsors' | relative_url }}"> Sponsors </a>
        </li>
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link text-white" href="{{ '/contact' | relative_url }}"> Contact </a>
        </li>
        <!-- <li
          class="nav-item dropdown ms-xl-2 d-flex flex-column justify-content-center align-items-start align-content-center"
        >
          <a class="btn btn-secondary btn-sm" href="/registration">Register</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>