<nav class="navbar navbar-expand-xl navbar-glass px-sm-3 px-2 fixed-top"
  style="padding-top: 0.8rem !important; padding-bottom: 0.8rem !important">
  <div class="container-fluid navbar-content p-0">
    <a class="navbar-brand d-flex flex-row align-items-center gap-2" href="{{ '/' | relative_url }}"><img
        src="{{ '/assets/images/ieee mb white png.png' | relative_url }}" height="22px" />

      <!-- <p class="m-0 d-sm-block d-none mt-1">Smart World Congress 2025</p> -->
      <p class="m-0 mt-1 fw-semibold text-white">SWC 2026</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% for item in site.data.navigation.main %}
        <li class="nav-item dropdown align-content-center">
          <a class="nav-link {% if item.dropdown %}dropdown-toggle{% endif %} text-white {{ item.link_class }}"
            href="{% if item.url %}{{ item.url | relative_url }}{% else %}#{% endif %}" {% if item.dropdown
            %}role="button" data-bs-toggle="dropdown" aria-expanded="false" {% endif %}>
            {{ item.title }}
          </a>
          {% if item.dropdown %}
          <ul class="dropdown-menu {{ item.menu_class }}">
            {% for subitem in item.items %}
            {% if subitem.divider %}
            <li class="{{ subitem.class }}">
              {% for deepitem in subitem.items %}
              <a class="dropdown-item" href="{{ deepitem.url | relative_url }}">{{ deepitem.title }}</a>
              {% endfor %}
            </li>
            {% elsif subitem.text_only %}
            <li><span class="dropdown-item">{{ subitem.title }}</span></li>
            {% else %}
            <li>
              <a class="dropdown-item" href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
        <li
          class="nav-item dropdown ms-xl-2 d-flex flex-column justify-content-center align-items-start align-content-center">
          <a class="btn btn-secondary-gradient btn-sm" href="{{ '/registration' | relative_url }}">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>