---
layout: default
title: Registration
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('/assets/images//product-school-nOvIa_x_tfo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        IEEE Smart World Congress 2025 <br />Registration
      </h1>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3 class="mb-2 fs-2">
          Registration for IEEE Smart World Congress 2025 and Conferences
        </h3>
        <div>
          <p class="fs-5">
            Early-bird full conference author registration deadline:
            <b>June 30, 2025</b>
          </p>
          <p class="fs-5">
            Final deadline for full conference author registration:
            <b>July 15, 2025</b>
          </p>
        </div>

        <p>
          <b
            >IMPORTANT: You are strongly encouraged to read the
            <a href="#registration-instructions">instructions</a> below before
            starting the registration process.</b
          >
        </p>
        <hr />
        <div class="d-flex flex-column gap-2" id="registration-links">
          <h3>Registration Links</h3>
          <p>Please select the appropriate conference to register for:</p>
          <div class="row pb-3 g-4 justify-content-center">
            <div class="col-sm-6 col-md-4">
              <div class="card bg-light-subtle overflow-hidden">
                <div
                  style="
                    width: auto !important;
                    height: 150px !important;
                    background-image: url(/assets/images/ahmed-zalabany-yTElJrzPHZo-unsplash.jpg);
                    background-size: cover;
                  "
                ></div>
                <div
                  class="card-body d-flex flex-column justify-content-between gap-3 h-100"
                >
                  <h3 class="text-center">SWC 2025</h3>
                  <h5 class="fs-6 text-center">
                    IEEE SWC 2025 Main Track<br />(Includes Workshops, Special
                    Sessions, and Forums)
                  </h5>
                  <a
                    href="https://events.payqlick.com/event/48/ieee-swc-2025"
                    class="btn btn-primary w-100"
                    target="_blank"
                    >Register</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card bg-light-subtle overflow-hidden">
                <div
                  style="
                    width: auto !important;
                    height: 150px !important;
                    background-image: url(/assets/images/kelly-hofer-knzWhQ5plcg-unsplash.jpg);
                    background-size: cover;
                  "
                ></div>
                <div
                  class="card-body d-flex flex-column justify-content-between gap-3 h-100"
                >
                  <h3 class="text-center">ATC 2025</h3>
                  <h5 class="fs-6 text-center">IEEE ATC 2025</h5>
                  <a
                    href="https://events.payqlick.com/event/44/ieee-atc-2025"
                    class="btn btn-primary w-100"
                    target="_blank"
                    >Register</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card bg-light-subtle overflow-hidden">
                <div
                  style="
                    width: auto !important;
                    height: 150px !important;
                    background-image: url(/assets/images/Digital_Twin_Calgary.jpg);
                    background-size: cover;
                  "
                ></div>
                <div
                  class="card-body d-flex flex-column justify-content-between gap-3 h-100"
                >
                  <h3 class="text-center">Digital Twin 2025</h3>
                  <h5 class="fs-6 text-center">IEEE Digital Twin 2025</h5>
                  <a
                    href="https://events.payqlick.com/event/45/ieee-digital-twin-2025"
                    class="btn btn-primary w-100"
                    target="_blank"
                    >Register</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card bg-light-subtle overflow-hidden">
                <div
                  style="
                    width: auto !important;
                    height: 150px !important;
                    background-image: url(/assets/images/Metaverse_Calgary.jpg);
                    background-size: cover;
                  "
                ></div>
                <div
                  class="card-body d-flex flex-column justify-content-between gap-3 h-100"
                >
                  <h3 class="text-center">Metaverse 2025</h3>
                  <h5 class="fs-6 text-center">IEEE Metaverse 2025</h5>
                  <a
                    href="https://events.payqlick.com/event/43/ieee-metaverse-2025"
                    class="btn btn-primary w-100"
                    target="_blank"
                    >Register</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card bg-light-subtle overflow-hidden">
                <div
                  style="
                    width: auto !important;
                    height: 150px !important;
                    background-image: url(/assets/images/daven-froberg-pQqqbdwg6n4-unsplash.jpg);
                    background-size: cover;
                  "
                ></div>
                <div
                  class="card-body d-flex flex-column justify-content-between gap-3 h-100"
                >
                  <h3 class="text-center">ScalCom 2025</h3>
                  <h5 class="fs-6 text-center">IEEE ScalCom 2025</h5>
                  <a
                    href="https://events.payqlick.com/event/46/ieee-scalcom-2025"
                    class="btn btn-primary w-100"
                    target="_blank"
                    >Register</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="card bg-light-subtle overflow-hidden">
                <div
                  style="
                    width: auto !important;
                    height: 150px !important;
                    background-image: url(/assets/images/jack-carter-_oYcF7p42xM-unsplash.jpg);
                    background-size: cover;
                  "
                ></div>
                <div
                  class="card-body d-flex flex-column justify-content-between gap-3 h-100"
                >
                  <h3 class="text-center">UIC 2025</h3>
                  <h5 class="fs-6 text-center">IEEE UIC 2025</h5>
                  <a
                    href="https://events.payqlick.com/event/47/ieee-uic-2025"
                    class="btn btn-primary w-100"
                    target="_blank"
                    >Register</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <h3 class="mb-2 fs-2" id="registration-instructions">
          Registration Instructions
        </h3>
        <h3>Full Conference Author Registration</h3>
        <p>
          <b>Full Conference Author Registration</b> is required for authors
          with accepted papers (each paper must have at least one author who
          completes the full registration either In-person or Online), and it
          includes the following:
        </p>
        <ul>
          <li>Publication of one accepted paper in the proceedings</li>
          <li>A copy of the proceedings the accepted paper belongs to</li>
          <li>
            Access to all conference, Industry Day, Keynotes, Panels, Workshops,
            Tutorials, and Special sessions
          </li>
          <li>Program brochure and conference goodies</li>
          <li>
            For in-person registration, Lunch, Coffee breaks, Reception,
            Banquet, and Award ceremony
          </li>
          <li>
            For papers to be published in IEEE proceedings, two extra pages are
            allowed, and each extra page costs <b>USD $100</b>
          </li>
        </ul>
        <p>
          The <b>Full Conference Author Registration</b> fees are listed below:
        </p>
        <table class="table table-bordered" cellpadding="8" cellspacing="0">
          <thead>
            <tr>
              <th colspan="3" class="text-center">
                Full Conference Author Registration Fee
              </th>
            </tr>
            <tr>
              <th class="text-center">Registration Type</th>
              <th class="text-center">By June 30, 2025</th>
              <th class="text-center">After June 30, 2025</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>IEEE Member (in-person)</td>
              <td class="text-center">$750</td>
              <td class="text-center">$850</td>
            </tr>
            <tr>
              <td>Non-IEEE member (in-person)</td>
              <td class="text-center">$900</td>
              <td class="text-center">$1,000</td>
            </tr>
            <tr>
              <td>IEEE Member (online)</td>
              <td class="text-center">$500</td>
              <td class="text-center">$600</td>
            </tr>
            <tr>
              <td>Non-IEEE Member (online)</td>
              <td class="text-center">$600</td>
              <td class="text-center">$700</td>
            </tr>
            <tr>
              <th colspan="3" class="text-center">Other Fees</th>
            </tr>
            <tr>
              <td>Extra Page (max 2 pages)</td>
              <td colspan="2" class="text-center">$100/page</td>
            </tr>
          </tbody>
        </table>
        <p>
          The early-bird deadline for
          <b>Full Conference Author Registration</b> is
          <b style="color: red">June 30, 2025</b>. The final deadline for
          <b>Full Conference Author Registration</b> is
          <b style="color: red">July 15, 2025</b>. Please note that if your
          payment is not received by that date, the paper will be removed from
          the proceedings. This deadline will be strictly enforced. <br /><br />
          For authors with multiple accepted papers, one full registration is
          valid for a <b>maximum of 3</b> papers, with the 2nd and 3rd papers
          each requiring an additional <b>USD $300</b>. If a 4th paper is to be
          registered, the author must complete a new registration.
        </p>
        <h3>Full Conference Non-Author Registration</h3>
        <p>
          <b>Full Conference Non-Author Registration</b> fee applies when one
          author has already completed full registration for a paper, and
          additional authors of the same paper or other attendees wish to
          participate in the conference in person.
          <b>Full Conference Non-Author Registration</b> includes:
        </p>
        <ul>
          <li>
            A copy of the proceedings the accepted paper belongs to (if
            additional author)
          </li>
          <li>
            Access to all conference, Industry Day, Keynotes, Panels, Workshops,
            Tutorials, and Special sessions
          </li>
          <li>Program brochure and conference goodies</li>
          <li>
            For in-person registration, Lunch, Coffee breaks, Reception, Banquet
            and Award ceremony
          </li>
        </ul>

        <p>
          The <b>Full Conference Non-Author Registration</b> fees are listed
          below:
        </p>
        <table class="table table-bordered" cellpadding="8" cellspacing="0">
          <thead>
            <tr>
              <th colspan="3" class="text-center">
                Full Conference Non-Author Registration Fee
              </th>
            </tr>
            <tr>
              <th class="text-center">Registration Type</th>
              <th class="text-center">By June 30, 2025</th>
              <th class="text-center">After June 30, 2025</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>IEEE Member (in-person)</td>
              <td class="text-center">$750</td>
              <td class="text-center">$850</td>
            </tr>
            <tr>
              <td>Non-IEEE member (in-person)</td>
              <td class="text-center">$900</td>
              <td class="text-center">$1,000</td>
            </tr>
            <tr>
              <td>Student IEEE Member (in-person)</td>
              <td class="text-center">$250</td>
              <td class="text-center">$300</td>
            </tr>
            <tr>
              <td>Student Non-IEEE Member (in-person)</td>
              <td class="text-center">$350</td>
              <td class="text-center">$400</td>
            </tr>
            <tr>
              <td>IEEE Life Member</td>
              <td class="text-center">$550</td>
              <td class="text-center">$650</td>
            </tr>
          </tbody>
        </table>
        <div>
          <h3>Industry Day Tickets</h3>
          <p>
            The
            <a href="/program/industry-day/">Industry Day (August 19)</a> ticket
            is included in the registration. If you wish to participate in
            Industry Day only, the ticket is sold separately for
            <b>USD $100</b>.
          </p>
          <div>
            <a
              href="https://events.payqlick.com/checkout/289"
              target="_blank"
              class="btn btn-primary"
              >Purchase IEEE SWC 2025 Industry Day Only Ticket</a
            >
            <p>(Must be logged into PayQlick)</p>
          </div>
        </div>

        <h3>Banff Day Trip</h3>
        <p>
          Tickets for the
          <a href="/travel/banff-group-trip/"
            >Banff group day trip (August 23)</a
          >
          can be purchased on the conference registration pages for
          <b>USD $100</b>.
        </p>
        <h3>Payment</h3>
        <p>
          Payment can be made by credit cards (Visa/Mastercard/American
          Express).
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
