---
layout: default
title: Tutorials - The Practice of Using Language Models
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/pexels-googledeepmind-18069694.jpg');
    background-size: cover;
    background-position: 50% 40%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        The Practice of Using Language Models: A Look at the Common Challenges
        and How to Overcome Them
      </h1>
      <h3>Presented by: Dr. Jason Bernard, Athabasca University, Canada</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us in navigating the practical challenges of working with
          language models
        </h3>
        <p class="fs-5">
          Language models (LMs) have become increasingly popular for both
          industrial and academic applications, thanks to their ability to
          generate high-quality media from textual or visual prompts. Despite
          their widespread use, working effectively with LMs presents a number
          of complex challenges that are often underappreciated until
          deployment. This tutorial aims to explore these challenges in depth,
          focusing on practical decision-making and implementation challenges
          when using a LM.
          <br /><br />
          First an overview of popular LM families, such as Gemma, Llama, and
          DeepSeek, is provided. This is followed by addressing decisions and
          practices for model selection. The tutorial then covers challenges
          surrounding training data, which is a key component to specializing a
          LM for research or application. Creation of training data (extraction
          from data sources), formatting, and the impact of granularity is
          discussed. The seven most common prompt styles are examined, with a
          focus on how to guide behavior through prompt structure. The section
          on prompts also discusses prompt generation, comparing manual prompt
          engineering with automated prompt generation. Finally, some of the
          complexities of working with LM outputs, including evaluation metrics
          and post-processing techniques.
          <br /><br />
          Throughout examples using in Python using PyTorch are provided in a
          multi-GPU environment context.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/jason_bernard.jpg\' | relative_url }}"
            alt="Dr. Jason Bernard"
            class="circle-img mb-3"
          />
          <h5>Dr. Jason Bernard</h5>
          <h6><i>Athabasca University, Canada</i></h6>
          <a href="mailto:jason.bernard@athabascau.ca"
            >jason.bernard@athabascau.ca</a
          >
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Dr. Jason Bernard is an Assistant Professor of Computer Science at
          Athabasca University. He holds a PhD from the University of
          Saskatchewan and has completed postdoctoral research at McMaster and
          Athabasca University. His work focuses on grammatical inference and
          educational technology, including a breakthrough on a longstanding
          open problem in grammar learning. Prior to academia, he served in the
          Canadian Armed Forces and spent a decade in software development,
          pioneering the use of AI for internet routing and lead generation.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
