---
layout: default
title: Workshops
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center mb-5"
  style="
    background-image: url('../..assets/images/Digital_Twin_Calgary.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        IEEE Smart World Congress 2025 <br />
        Workshops
      </h1>
      <div>
        <h3>Calgary, Alberta, Canada</h3>
        <h3 class="">August 18 - 22, 2025</h3>
      </div>
    </div>
  </div>
</section>

<section class="page-section container-fluid px-3 d-flex flex-column gap-2">
  <div class="row pt-4">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">
        Intelligent and Secure Next-Generation Networking: Architectures,
        Technologies, and Applications
      </h2>
      <p class="fs-5">
        The digital landscape is undergoing a radical transformation, driven by
        the proliferation of interconnected devices and data-intensive
        applications. This evolution necessitates the development of
        next-generation networks (NGNs) capable of handling unprecedented
        demands for speed, capacity, and intelligence. However, realizing this
        potential hinges on addressing critical security vulnerabilities and
        ensuring robust, intelligent management. The increasing complexity of
        network architectures, coupled with the rise of sophisticated cyber
        threats, requires a paradigm shift in how we design, deploy, and operate
        these critical infrastructures. Furthermore, the integration of
        artificial intelligence (AI) and machine learning (ML) offers powerful
        tools for optimizing network performance, automating management tasks,
        and enhancing security. This workshop aims to bring together
        researchers, industry experts, and practitioners to discuss
        advancements, challenges, and future directions in building intelligent,
        secure, and privacy-aware NGNs by integrating artificial intelligence
        (AI), edge computing, cybersecurity, and privacy-preserving
        technologies. It will explore the convergence of AI-driven network
        optimization, secure communication protocols, federated learning, and
        cybersecurity frameworks, fostering collaboration to shape the future of
        next-generation networking.
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-content-start pb-3">
    <a href="{{ \'/workshops/next-gen-networking/\' | relative_url }}" class="btn btn-primary"
      >View Workshop</a
    >
  </div>
  <hr />
</section>

<section class="page-section container-fluid px-3 d-flex flex-column gap-2">
  <div class="row pt-4">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">
        The 1st International Workshop on Smart Education in the Age of
        Generative AI (SEGA) 2025
      </h2>
      <p class="fs-5">
        This workshop seeks to bridge innovation and responsibility in
        AI-enhanced education by uniting researchers, educators, and
        technologists. It will explore methodologies like generative AI and
        reinforcement learning to address technical challenges such as content
        quality, ethical alignment, and adaptive learning systems. Participants
        will examine strategies to optimize AI- generated educational materials,
        improve human-AI interaction frameworks, and deploy RL for personalized
        learning pathways. The workshop welcomes submissions on real-world
        applications, content validation techniques, and ethical governance
        models, aiming to foster interdisciplinary solutions that prioritize
        both efficacy and equity in education.
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-content-start pb-3">
    <a href="{{ \'/workshops/sega/\' | relative_url }}" class="btn btn-primary">View Workshop</a>
  </div>
  <hr />
</section>

<section class="page-section container-fluid px-3 d-flex flex-column gap-2">
  <div class="row pt-4">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">
        The 5th International Workshop on Future Trends in Computing System
        Technologies & Applications (FUSION 2025)
      </h2>
      <p class="fs-5">
        Advances, developments in computing systems and innovative technologies
        are fast growing towards more complex, heterogeneous, dynamically
        scalable, ubiquitous, autonomic, and trustworthy computing systems.
        Cloud computing technology provides an abstraction of concealed complex
        infrastructure of virtualized resources and provided as web services.
        The fast-evolving fog computing and edge computing paradigms as
        supplements to cloud service performance, along with the advancing
        infrastructures for the next generation of clouds, has spurred the grand
        challenges in network-based computing. The aim of FUSION-2025 workshop
        is to provide a venue of scientific interaction with grand challenging
        research areas of and development of future infrastructure and platforms
        of complex network computing system technologies, innovations and
        applications. Papers from researchers, industry practitioners, and
        graduate students are highly sought by. The workshop will provide
        authors with the venue to present their research and engage with
        participants during the Q&A time.
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-content-start pb-3">
    <a href="{{ \'/workshops/fusion/\' | relative_url }}" class="btn btn-primary">View Workshop</a>
  </div>
  <hr />
</section>

<section
  class="page-section container-fluid px-3 pb-5 d-flex flex-column gap-2"
>
  <div class="row pt-4">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">
        Innovate: AI, Data & Digital Transformation for a Smarter Future (IAIDDT
        2025)
      </h2>
      <p class="fs-5">
        The rapid evolution of Artificial Intelligence (AI), data analytics, and
        digital technologies is transforming how organizations operate, learn,
        and interact. This workshop, "Innovate: AI, Data & Digital
        Transformation," brings together researchers, educators, and industry
        practitioners to explore cutting-edge advancements and applications
        across sectors including education, management, finance, and healthcare.
        Topics will include AI-driven decision-making, generative AI for
        sustainable practices, digital human resource management, secure
        information systems, and the integration of metaverse and cognitive
        modeling in learning environments. By highlighting real-world
        implementations and data-driven strategies, the workshop aims to foster
        collaborative innovation and provide a platform for interdisciplinary
        dialogue on building smarter, more adaptive digital ecosystems.
        Participants will gain insights into the transformative potential of AI
        and data, and their role in shaping the future of digital society.
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-content-start pb-3">
    <a href="{{ \'/workshops/iaiddt/\' | relative_url }}" class="btn btn-primary">View Workshop</a>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
