---
layout: default
title: IEEE Travel Grant
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center mb-5"
  style="
    background-image: url('../../assets/images/javier-sepulveda-pascual-gEAqV5hfI_k-unsplash.jpg');
    background-size: cover;
    background-position: 50% 75%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        IEEE Computational Intelligence Society (CIS) Travel Grants
      </h1>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pb-5 d-flex flex-column gap-2"
>
  <div class="row g-5">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">
        Apply for the IEEE Travel Grant from the IEEE Computational Intelligence
        Society (CIS)
      </h2>
      <p class="fs-5">
        IEEE Computational Intelligence Society (CIS) is pleased to offer the
        following types of Travel grants to the IEEE CIS members who are
        interested to present their papers in-person at SWC 2025:
      </p>

      <ul class="fs-5">
        <li>
          <b>IEEE CIS Conference Travel Grant for Students:</b> This program
          offers a limited number of grants to assist IEEE CIS Student Members
          to travel to attend IEEE CIS conferences and present their papers.
        </li>
        <li>
          <b
            >IEEE CIS Conference Travel Grant for Researchers from Developing
            Countries:</b
          >
          This program offers a limited number of travel grants to assist IEEE
          CIS Members of any grade higher than Student to travel to attend IEEE
          CIS conferences and present their papers.
        </li>
        <li>
          <b> IEEE CIS "Industry Early Career" Travel Grant: </b>This program
          offers a limited number of travel grants to assist IEEE-CIS Members
          working in industry, who are within 2 years of their graduation, to
          travel to attend IEEE CIS conferences and present their papers.
        </li>
        <li>
          <b> IEEE CIS "Conference Participation and Travel Grant”: </b>This
          program offers a limited number of grants to support non-lead Student
          Authors and Non-Author Students attending IEEE CIS conferences. This
          grant waives student early registration fee.
        </li>
      </ul>

      <p class="fs-5">
        The grant will be in the form of digital reimbursement of a fixed amount
        <i
          >after the in-person participation in the conference as a registered
          attendee</i
        >. The approved amount will be typically USD $600 for intra-continental
        (within North America) participants, and USD $1,200 for
        inter-continental (outside North America) participants.
      </p>

      <h3>Instructions</h3>
      <p class="fs-5">
        For full instructions on how to apply and the application submission
        link, please visit IEEE CIS Conference Participation and Travel Grants
        page:
        <a
          href="https://cis.ieee.org/activities/membership-activities/travel-grants"
          target="_blank"
          >https://cis.ieee.org/activities/membership-activities/travel-grants</a
        ><br /><br />
        For any queries regarding the grants, please contact the CIS travel
        grants subcommittee chair: Dr. Yi Mei (<a
          href="mailto:yi.mei@ecs.vuw.ac.nz"
          >yi.mei@ecs.vuw.ac.nz</a
        >). <br /><br />
        The applications can be submitted after the paper notifications have
        been sent, up to the deadline of <b>June 16, 2025</b>. The outcomes will
        be communicated by <b>June 30, 2025</b>.
      </p>
      <h3>How to become an IEEE CIS member?</h3>
      <ul class="fs-5">
        <li>
          <b> Become an IEEE member</b> – full details at
          <a
            href="https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMIEEE500"
            target="_blank"
            >https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMIEEE500</a
          >
        </li>
        <li>
          <b>Become an IEEE CIS member</b> – full details at
          <a
            href="https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMCIS011"
            target="_blank"
            >https://www.ieee.org/membership-catalog/productdetail/showProductDetailPage.html?product=MEMCIS011</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
