---
layout: default
title: IAIDDT Workshop 2025
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/Digital_Twin_Calgary.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        Innovate: AI, Data & Digital Transformation for a Smarter Future (IAIDDT
        2025)
      </h1>
      <div>
        <a class="btn btn-primary" href="#submission-guidelines"
          >Submit Paper to Workshop</a
        >
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 py-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row g-5">
    <div class="col-sm-4 d-flex flex-column gap-4">
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Important Dates</h4>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Paper Submission Deadline</h5>
          <h6 class="">
            <h6 class="">
              <s>May 15, 2025</s
              ><span class="text-decoration-line-through" style="color: red">
                May 31, 2025</span
              >
            </h6>
          </h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Acceptance Notification</h5>
          <h6 class="text-decoration-line-through">June 14, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Workshop Duration</h5>
          <h6 class="">Half-day</h6>
        </div>
      </div>
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Organizing Committee</h4>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <div class="d-flex flex-column">
              <h5 class="fs-6 fw-bold">Workshop General Chair</h5>
              <h5 class="fs-6">
                Dr. Azza Basiouni <br />
                Liwa College Abu Dhabi UAE <br />
                <a href="mailto:azza.basiouni@lc.ac.ae"
                  >azza.basiouni@lc.ac.ae</a
                >
              </h5>
              <p>
                <b>Bio: </b>Dr. Azza Basiouni holds a BSc degree in Electrical
                Engineering and is certified in Computer Engineering. With over
                ten years of experience as intelligent systems developer and
                trainer at a research center, they transitioned to academia
                after completing their MSc and Ph.D. in Computer Engineering.
                Her doctoral research was part of a collaborative project
                between Carnegie Mellon University (CMU) and Cairo University.
                Currently, she serves as an Associate Professor in
                Electrical/Computer Engineering and lead a research project
                titled "AR, VR, and AI-Enhanced Metaverse for Tailored and
                Inclusive Education," funded by a Research Incentive Grant from
                Liwa College, Abu Dhabi, UAE.
              </p>
            </div>
            <hr class="w-100" />
            <div class="d-flex flex-column">
              <h5 class="fs-6 fw-bold">Workshop Chair</h5>
              <h5 class="fs-6">
                Mohammed Ghazal <br />Abu Dhabi University, UAE <br />
                <a href="mailto:mohammed.ghazal@adu.ac.ae"
                  >mohammed.ghazal@adu.ac.ae</a
                >
              </h5>
            </div>
            <hr class="w-100" />
            <div class="d-flex flex-column">
              <h5 class="fs-6 fw-bold">Technical Program Committee</h5>
              <h5 class="fs-6">
                Hanen Himdi <br />
                University of Jeddah, Saudi Arabia
              </h5>
              <h5 class="fs-6">
                Tariq Rahim <br />
                Institute of Business Management, Karachi, Pakistan
              </h5>
              <h5 class="fs-6">
                Fouzi Harrag <br />
                Ferhat Abbas University, Algeria
              </h5>
              <h5 class="fs-6">
                Rasha Kashef <br />
                Metropolitan University, Canada
              </h5>
              <h5 class="fs-6">
                Ahmed Ibrahim <br />Western University, Canada
              </h5>
              <h5 class="fs-6">
                Samira Boukadi <br />
                University of Sfax, Tunisia
              </h5>
              <h5 class="fs-6">
                Marwah Alian <br />
                The World Islamic Sciences and Education University, Jordan
              </h5>
              <h5 class="fs-6">
                Mohammed Al Sharfi <br />
                King Fahd University of Petroleum and Minerals, Saudi Arabia
              </h5>
              <h5 class="fs-6">
                Mona Elhelbawy <br />
                University of Colorado Boulder, US
              </h5>
              <h5 class="fs-6">
                Tarek Gaber <br />
                University of Salford, UK
              </h5>
              <h5 class="fs-6">
                Khaled Shaalan <br />
                University of British University in Dubai, UAE
              </h5>
              <h5 class="fs-6">
                Mohammed Gazal <br />
                Abu Dhabi University, UAE
              </h5>
              <h5 class="fs-6">
                Ray Albarazie <br />
                Liwa College, UAE
              </h5>
              <h5 class="fs-6">
                Mohammed Naji AL-Kabi <br />
                Al-Buraimi University College, Sultanate Oman
              </h5>
              <h5 class="fs-6">
                Munir Ahmed <br />
                Korea University, Republic of Korea
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 d-flex flex-column gap-4">
      <div>
        <h2 class="fs-2 mb-2">Join us at the IAIDDT Workshop 2025</h2>
        <p class="fs-5">
          The rapid evolution of Artificial Intelligence (AI), data analytics,
          and digital technologies is transforming how organizations operate,
          learn, and interact. This workshop, "Innovate: AI, Data & Digital
          Transformation," brings together researchers, educators, and industry
          practitioners to explore cutting-edge advancements and applications
          across sectors including education, management, finance, and
          healthcare. Topics will include AI-driven decision-making, generative
          AI for sustainable practices, digital human resource management,
          secure information systems, and the integration of metaverse and
          cognitive modeling in learning environments. By highlighting
          real-world implementations and data-driven strategies, the workshop
          aims to foster collaborative innovation and provide a platform for
          interdisciplinary dialogue on building smarter, more adaptive digital
          ecosystems. Participants will gain insights into the transformative
          potential of AI and data, and their role in shaping the future of
          digital society.
        </p>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
          <h2 class="fs-2">Discussion Topics</h2>
          <div class="row pb-3 g-4">
            <div class="col-12 mb-3 mb-sm-0">
              <h5 class="fs-5">
                Topics of discussion may include, but are not limited to:
              </h5>
              <br />
              <h5>AI in Management and Organizational Efficiency</h5>
              <ul>
                <li>AI-driven digital HRM systems</li>
                <li>Data analytics for decision-making</li>
                <li>Smart enterprise resource planning</li>
                <li>Generative AI for sustainable operations</li>
              </ul>

              <h5>Digital Transformation in Education</h5>
              <ul>
                <li>Metaverse and immersive learning technologies</li>
                <li>Generative AI in curriculum development</li>
                <li>AI-based assessment and mentoring platforms</li>
                <li>Future-ready classrooms and digital pedagogy</li>
              </ul>

              <h5>Secure and Smart Information Systems</h5>
              <ul>
                <li>AI and ML for cybersecurity</li>
                <li>Privacy in cloud and IoT environments</li>
                <li>Securing educational and healthcare communication</li>
                <li>Blockchain and secure data sharing</li>
              </ul>

              <h5>AI and Big Data in Finance and Healthcare</h5>
              <ul>
                <li>
                  IT-enhanced performance metrics in financial institutions
                </li>
                <li>CRM-based electronic health records</li>
                <li>AI for sustainability in medical education</li>
                <li>Financial risk prediction using machine learning</li>
              </ul>

              <h5>Social Media and Digital Marketing</h5>
              <ul>
                <li>AI-enhanced social media strategies</li>
                <li>Consumer behavior analytics</li>
                <li>Digital marketing in evolving markets</li>
                <li>Influencer impact and sentiment analysis</li>
              </ul>

              <h5>Sustainable Innovation with AI and Data Analytics</h5>
              <ul>
                <li>
                  Showcasing how AI supports sustainability goals, such as waste
                  management and energy efficiency.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="submission-guidelines" class="row">
        <div class="col-sm-12 d-flex flex-column gap-3 justify-content-around">
          <h2 class="fs-2">Submission Guidelines</h2>
          <p class="fs-5">
            We invite contributions in various forms: Regular paper (6 pages),
            Demo/Poster paper (2~4 pages). Papers must be prepared using IEEE
            Computer Society Proceedings manuscripts style. All submissions must
            be typeset in double-column IEEE format, with all fonts embedded.
            Submitted papers must include the contact information of all the
            authors. The IEEE LaTeX and Microsoft Word templates for conferences
            can be found at IEEE Manuscript Templates for Conference Proceedings
            at
            <a
              href="https://www.ieee.org/conferences/publishing/templates.html"
              target="_blank"
              >https://www.ieee.org/conferences/publishing/templates.html</a
            >. The materials presented in the papers should not be published or
            under submission elsewhere. All papers should be submitted
            electronically via the link below. When submitting, please select
            the appropriate track for your paper. <br /><br />Accepted and
            presented articles at IAIDDT 2025 will be included into the
            proceedings published by IEEE CPS (EI indexed). The IEEE Proceedings
            published by the IEEE CPS of the IEEE Computer Society will be
            indexed in ISI Clarivate Analytics' Web of Science, Scopus, EI
            Engineering Village, Google Scholar, ACM, CNKI, Scilit, DBLP, EBSCO,
            ProQuest and others.
          </p>
          <div
            class="d-flex flex-column gap-2 justify-content-start align-items-start"
          >
            <a
              class="btn btn-primary"
              href="https://edas.info/newPaper.php?c=33582&track=131569"
              target="_blank"
              >Submit Paper to Workshop</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
