---
layout: default
title: Forums
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center mb-5"
  style="
    background-image: url('../assets/images/kyler-nixon-_ZBekGTBh-c-unsplash.jpg');
    background-size: cover;
    background-position: 50% 60%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        IEEE Smart World Congress 2025 <br />
        Forums
      </h1>
      <div>
        <h3>Calgary, Alberta, Canada</h3>
        <h3 class="">August 18 - 22, 2025</h3>
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pb-5 d-flex flex-column gap-2"
>
  <div class="row pt-4">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">Women in the Smart World Forum 2025</h2>
      <p class="fs-5">
        Women in the Smart World Forum are dedicated to discussing the role of
        women in shaping and thriving in the rapidly evolving landscape of smart
        technology and innovation. From artificial intelligence to the Internet
        of Things, from cybersecurity to renewable energy, women are playing
        increasingly vital roles in driving progress and innovation in smart
        technologies. By leveraging the artificial intelligence technologies,
        many tasks could be more efficient, greener, and safer, such as
        autonomous driving, smart agriculture management, and healthcare
        monitoring.
        <br /><br />
        Whether you're a seasoned professional, an aspiring student, an
        entrepreneur, or simply interested in the technology and gender
        equality, this forum is the place for you to learn, and share your
        insights, challenges met, and experiences gained on smart world.
        Moreover, this forum also promotes the building of meaningful
        connections and new collaborations amongst participants.
      </p>
    </div>
  </div>
  <div class="flex flex-row justify-content-start pb-3">
    <a href="{{ \'/forums/women-in-the-smart-world/\' | relative_url }}" class="btn btn-primary"
      >View Forum</a
    >
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
