---
layout: default
title: IEEE SWC 2025 Final Paper Instructions
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../assets/images/jack-carter-_oYcF7p42xM-unsplash.jpg');
    background-size: cover;
    background-position: center 65%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 70vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="w-75 responsive-width fw-bold text-center display-5">
        IEEE Smart World Congress 2025 <br />
        Final Paper Submission Instructions
      </h1>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4" id="final-submission">
  <div class="page-section w-100 px-3 py-5 d-flex flex-column gap-4">
    <h3 class="fw-bold fs-3">
      <span style="color: red">Important</span>: Final paper and copyright
      submissions must be made through IEEE CPS (Conference Publishing
      Services), <span style="color: red">NOT EDAS</span>!
    </h3>
    <p class="fs-5">
      Below is the link to the SWC 2025 Author's Final Paper Formatting and
      Submission Instructions webpage. It is applicable to all co-located
      conferences (UIC, ATC, DigitalTwin, Metaverse, ScalCom). This will allow
      you to:
    </p>
    <ul class="fs-5">
      <li>Verify/convert your paper using PDF eXpress</li>
      <li>Submit your paper's copyright</li>
      <li>Submit your final paper</li>
    </ul>
    <div
      class="d-flex flex-column gap-2 justify-content-start align-items-start"
    >
      <a
        class="btn btn-primary"
        target="_blank"
        href="https://ieeecps.org/cps/v2/auth/login?ak=1&pid=2FBloH8EZnpjmoosiBNJHK"
        >Submit Final Paper to SWC 2025</a
      >
      <p class="fs-6">
        Submission Link:
        <a
          href="https://ieeecps.org/cps/v2/auth/login?ak=1&pid=2FBloH8EZnpjmoosiBNJHK"
          target="_blank"
          >https://ieeecps.org/cps/v2/auth/login?ak=1&pid=2FBloH8EZnpjmoosiBNJHK</a
        >
      </p>
    </div>
    <h3>Instructions</h3>
    <ol type="1" class="fs-5">
      <li>
        You will first need to sign-up for a new account in Conference
        Publishing Services, if you do not have one, before you can access the
        SWC 2025 author kit site. When signing in, please go to the text "Sign
        Up" to the right of the text "Log In" to create an account. Please note
        this is separate from your IEEE membership login.
      </li>
      <li>
        Once you have created an account and log in, you can start by clicking
        "Begin Paper Submission". Click through the left column of tabs to view
        information on:
        <ul>
          <li>
            Paper page limits
            <ul>
              <li>
                Please strictly follow the paper limits specified for your paper
                type.
              </li>
            </ul>
          </li>
          <li>Submission deadlines</li>
          <li>
            Formatting instructions
            <ul>
              <li>
                Your final camera-ready paper MUST be formatted using the
                provided templates.
              </li>
            </ul>
          </li>
          <li>
            PDF eXpress paper validation and PDF file creation
            <ul>
              <li>For PDF eXpress, use Conference ID# 65939X.</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        To access the copyright and paper submission process, click "Next" at
        the top right of the screen.
        <ol type="a">
          <li>
            Paper details:
            <ul>
              <li>
                Paper ID: A 10-digit number beginning with 157. For example,
                1571012345.
              </li>
              <li>Submitter Full Name</li>
              <li>Submitter Email</li>
              <li>Paper Title</li>
              <li>Abstract</li>
            </ul>
          </li>
          <li>Clicking "Next" at the top right to add authors.</li>
          <li>
            Clicking "Next" at the top right to submit final paper PDF file.
          </li>
          <li>Clicking "Next" at the top right to submit IEEE copyright.</li>
        </ol>
      </li>
      <li>
        ONLY when you have submitted BOTH your FINAL PAPER and COPYRIGHT FORM
        will your submission be completely successful.
      </li>
    </ol>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
