---
layout: default
title: Women in the Smart World Forum 2025
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../../assets/images/WSW\ Banner\ Image.jpg');
    background-size: cover;
    background-position: 50% 60%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <div>
        <h3>IEEE Smart World Congress 2025</h3>
        <h1 class="display-5 fw-bolder mt-3">Women in the Smart World Forum</h1>
      </div>
      <div>
        <h3>Calgary, Alberta, Canada</h3>
        <h3 class="">August 20 - 21, 2025</h3>
      </div>
      <div
        class="d-flex flex-column flex-md-row gap-3 justify-content-center align-items-center w-100"
      >
        <a class="btn btn-primary fw-medium" href="#wsw-presentations"
          >Session 1: Presentations
        </a>
        <a class="btn btn-primary fw-medium" href="#wsw-panel-discussion"
          >Session 2: Panel Discussion
        </a>
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-1 mt-2 d-flex flex-column gap-4"
>
  <div class="row g-5">
    <div class="col-sm-4 d-flex flex-column gap-4">
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Important Dates</h4>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center m-0">First Submission Cycle</h5>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Proposal Deadline</h5>
          <h6 class="text-decoration-line-through">April 20, 2025</h6>
          <h5 class="fs-6 fw-bold text-center">Proposal Notification</h5>
          <h6 class="text-decoration-line-through">April 25, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center m-0">Second Submission Cycle</h5>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Proposal Deadline</h5>
          <h6 class="text-decoration-line-through">May 20, 2025</h6>
          <h5 class="fs-6 fw-bold text-center">Proposal Notification</h5>
          <h6 class="text-decoration-line-through">May 25, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Conference Dates</h5>
          <h6 class="text-decoration-line-through">August 18 - 22, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">
            <a href="#wsw-presentations">Session 1: Presentations</a>
          </h5>
          <h6 class="text-decoration-line-through">
            August 20, 1:00pm - 2:30pm
          </h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">
            <a href="#wsw-panel-discussion">Session 2: Panel Discussion</a>
          </h5>
          <h6 class="text-decoration-line-through">
            August 21, 2:15pm - 3:45 pm
          </h6>
          <hr class="w-100" />
          <p>
            Please note that the reporter of the first cycle accepted proposals
            can apply for the IEEE WIE Travel Grant (<a
              href="https://wie.ieee.org/grants-scholarships/travel-grants/"
              target="_blank"
              >https://wie.ieee.org/grants-scholarships/travel-grants/</a
            >)
          </p>
        </div>
      </div>
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Organizing Committee</h4>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">General Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Ying Zhang <br />
                Northwestern Polytechnical University, China
              </h5>
              <h5 class="fs-6">
                Binbin Zhou <br />
                Hangzhou City University, China
              </h5>
              <h5 class="fs-6">
                Sara Saeedi <br />
                University of Calgary, Canada
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Executive Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Khawla Alhasan <br />
                Open Arab University, Kuwait
              </h5>
              <h5 class="fs-6">
                Rosy Xi Luo <br />
                Beijing Raygen Innovation Technology Co., Ltd, China
              </h5>
              <h5 class="fs-6">
                Kaoru Ota <br />
                Muroran Institute of Technology, Japan
              </h5>
              <h5 class="fs-6">
                Joanna Siebert <br />
                Harbin Institute of Technology, Shenzhen, China
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Executive Co-Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Saher Javaid <br />
                Japan Advanced Institute of Science and Technology, Japan
              </h5>
              <h5 class="fs-6">
                Tatiana Cardona <br />
                Saint Louis University, USA
              </h5>
              <h5 class="fs-6">
                Ismini Psychoula <br />
                University College London, United Kingdom
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Steering Committee</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Runhe Huang (Chair) <br />
                Hosei University, Japan
              </h5>
              <h5 class="fs-6">
                Zhi Jin <br />
                Peking University, China
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 d-flex flex-column gap-4">
      <div>
        <h2 class="fs-2 mb-2">
          Join us at the IEEE Women in the Smart World Forum 2025
        </h2>
        <p class="fs-5">
          Women in the Smart World Forum are dedicated to discussing the role of
          women in shaping and thriving in the rapidly evolving landscape of
          smart technology and innovation. From artificial intelligence to the
          Internet of Things, from cybersecurity to renewable energy, women are
          playing increasingly vital roles in driving progress and innovation in
          smart technologies. By leveraging the artificial intelligence
          technologies, many tasks could be more efficient, greener, and safer,
          such as autonomous driving, smart agriculture management, and
          healthcare monitoring.
          <br /><br />
          Whether you're a seasoned professional, an aspiring student, an
          entrepreneur, or simply interested in the technology and gender
          equality, this forum is the place for you to learn, and share your
          insights, challenges met, and experiences gained on smart world.
          Moreover, this forum also promotes the building of meaningful
          connections and new collaborations amongst participants.
        </p>
        <div
          class="d-flex flex-column flex-md-row gap-3 justify-content-center align-items-center w-100 mt-5 mb-4"
        >
          <a class="btn btn-primary fw-medium w-100" href="#wsw-presentations">
            Session 1: Presentations
          </a>
          <a
            class="btn btn-primary fw-medium w-100"
            href="#wsw-panel-discussion"
            >Session 2: Panel Discussion
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-sm-0 d-flex flex-column gap-4">
          <h2 class="fs-2">Discussion Topics</h2>
          <div class="row pb-3 g-4">
            <div class="col-12 mb-3 mb-sm-0">
              <h5 class="fs-5">
                Topics of discussion may include, but are not limited to:
              </h5>
              <ul>
                <li>
                  Women in STEM (Science, Technology, Engineering, and
                  Mathematics)
                </li>
                <li>Gender diversity and inclusion in the tech industry</li>
                <li>
                  Challenges faced by women in pursuing careers in smart
                  technology
                </li>
                <li>Success stories and role models in the field</li>
                <li>
                  Strategies for fostering a more inclusive and supportive
                  environment
                </li>
                <li>
                  Opportunities and trends in emerging intelligent technologies
                </li>
                <li>
                  The impact of smart technology on women's lives and
                  empowerment
                </li>
                <li>Education and mentorship initiatives for women in tech</li>
                <li>Ethical considerations and responsible innovation</li>
                <li>Breaking stereotypes and overcoming biases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="submission-guidelines" class="row">
        <div class="col-sm-12 d-flex flex-column gap-3 justify-content-around">
          <h2 class="fs-2">Submission Guidelines</h2>
          <p class="fs-5">
            The participant must submit the following as a single pdf file:
          </p>
          <ul>
            <li>Title of the proposal</li>
            <li>Abstract (200 words)</li>
            <li>Description of the proposal (no more than 2,000 words)</li>
            <li>
              The participant's profile, including name, affiliation, email
              address, and a brief biography (200 words)
            </li>
          </ul>
          <p class="fs-5">
            Submit the proposal to our email address:
            <a href="mailto:women.in.smart.world.forum@gmail.com "
              >women.in.smart.world.forum@gmail.com
            </a>
          </p>
          <p class="fs-5" style="color: red">
            Please note that authors of accepted proposals must register and
            present in person or virtually at the conference.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Session 1 -->
<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4 fs-5"
  id="wsw-presentations"
>
  <hr />

  <div class="d-flex flex-column gap-4 pt-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h2 class="text-center">
          Women in a Smart World Session I - Setting the Stage Paper
          Presentations
        </h2>
        <div>
          <h4 class="text-center">
            Telus Convention Centre - Macleod Hall B & C <br />
            Wednesday August 20, 2025 <br />
            1:00pm - 2:30pm
          </h4>
        </div>

        <h3>
          Discover how we can build inclusive environments through
          interdisciplinary human-AI partnerships.
        </h3>
        <p class="fs-5">
          This session highlights insights and research by women who are
          advancing human-AI collaboration in industry and academia that remove
          barriers to develop and create a more inclusive and equitable smart
          environment. Through interdisciplinary lenses of smart world
          applications—including technology, ethics, design, and social
          impact—presenters will explore topics such as inclusive algorithm
          development, AI data ecosystems in agriculture, community health,
          gender-aware smart infrastructure, and equitable access in education
          technologies. These papers showcase how diverse professional and
          academic perspectives and disciplines can converge to ensure that
          innovations are responsive to the needs of all individuals that
          benefit a smart world.
          <br /><br />
          <b
            >This session serves as a springboard for a panel discussion on the
            next day and will further explore the integral role that diversity
            plays in human-AI interactions.</b
          >
          The presentations will provoke a deeper dialogue on how we can
          collectively shape AI ecosystems that prioritize fairness,
          representation, and responsible innovation.
        </p>
      </div>
    </div>
    <div>
      <h3 class="mb-3">Words of Welcome</h3>
      <h4 class="">Introduction of Women in the Smart World</h4>
      <h5 class="fw-medium mb-3">
        Dr. Runhe Huang, Hosei University, Deputy Director of Hosei Library,
        Japan
      </h5>
      <p class="fs-5">
        Launched in 2024 by founding chairs Prof. Runhe Huang (Hosei University,
        Japan) and Prof. Zhi Jin (Peking University, China), the Women in the
        Smart World Forum was created to spotlight women’s contributions to
        emerging technologies such as AI, IoT, and smart systems. Following its
        successful debut, the forum returns in 2025 in Calgary, Canada, as part
        of the IEEE Smart World Congress. The forum fosters global dialogue on
        gender diversity, innovation, and leadership, offering a collaborative
        platform for women across academia, industry, and policy to share
        insights, challenges, and achievements in shaping a smarter world.
      </p>
    </div>

    <!-- Dr. Runhe Huang -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Runhe Huang.png\' | relative_url }}"
            alt="Dr. Runhe Huang"
            class="circle-img mb-3"
          />
          <h5>Dr. Runhe Huang</h5>
          <h6>
            <i>Hosei University, Deputy Director of Hosei Library, Japan</i>
          </h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          She received her B.Sc. in Electronics Technology from the National
          University of Defense Technology, China, in 1982, and her Ph.D. in
          Computer Science and Mathematics from the University of the West of
          England, UK, in 1993. She is a full professor at Hosei University,
          Japan since 2003. She served as the head of the Department of Computer
          Science from 2008 to 2010 and currently holds the position of Deputy
          Director at Hosei University Library.
        </p>
      </div>
    </div>
    <h3>Presentation Abstracts and Presenter Biographies</h3>
    <!-- Dr. Sara Saeedi -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW -Sara Saeedi.png\' | relative_url }}"
            alt="Dr. Sara Saeedi"
            class="circle-img mb-3"
          />
          <h5>Dr. Sara Saeedi</h5>
          <h6><i>University of Calgary, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Inclusive IoT: Building a Smart World for Everyone</h4>
        <p>
          The Internet of Things (IoT) is rapidly transforming how we live,
          work, and interact with technology. Yet, as cities and systems become
          smarter, ensuring inclusivity, diversity, accessibility, and cultural
          relevance remains a critical challenge. This presentation explores how
          IoT can be designed with context-awareness—adapting to users'
          environments, cultural norms, and diversity—to serve different
          communities and bridge socio-economic gaps. <br /><br />
          Drawing on research in smart cities, environmental monitoring, and
          AI-enabled sensor networks, this talk will share inclusive projects
          ranging from a postpartum mental health app leveraging IoT and LLMs,
          to international methane emission detection frameworks, the SCIRA
          smart city initiative for interoperable urban systems, and a
          participatory air quality sensing that empowers citizens through
          IoT-enabled volunteer sensing. These case studies illustrate how
          multidisciplinary collaboration can create IoT ecosystems that are not
          only intelligent but also inclusive, equitable, and truly
          human-centered—empowering all members of society to benefit from the
          smart technologies shaping our future.
        </p>
        <h4>Biography</h4>
        <p>
          Sara Saeedi is an Assistant Professor in Electrical and Software
          Engineering at the University of Calgary. Her research focuses on AI,
          IoT, digital twins, and smart geospatial technologies for applications
          in agriculture, health, and climate resilience. She actively
          contributes to advancing ethical AI standards in engineering and
          technology fields.
        </p>
      </div>
    </div>
    <!-- Dr. Rossitza Marinova -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Rossitza Marinova.jpg\' | relative_url }}"
            alt="Dr. Rossitza Marinova"
            class="circle-img mb-3"
          />
          <h5>Dr. Rossitza Marinova</h5>
          <h6><i>Concordia University of Edmonton, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>
          AI and Ethics: Preparing the Next Generation for Responsible
          Decision-Making
        </h4>
        <p>
          This presentation emphasizes the critical need for human oversight in
          AI decision-making processes to ensure that ethical considerations are
          consistently supported. The insights shared are informed by extensive,
          hands-on experience in academic settings, within the context of a
          smart world ecosystem. In education, fostering critical thinking and
          ethical decision-making when working with AI applications is
          essential. By teaching students to critically assess the impact of AI
          on society and engage with it responsibly, we are preparing them to
          navigate an increasingly AI-driven world while upholding values of
          fairness, transparency, and accountability.
        </p>
        <h4>Biography</h4>
        <p>
          Rossitza Marinova has been a faculty member at Concordia University of
          Edmonton since 2004. Before joining Concordia, she worked as a
          research scientist in the software development industry in Canada and
          in a government research laboratory in Japan. Dr. Marinova is a Senior
          Member of the IEEE.
        </p>
      </div>
    </div>
    <!-- Dr. Rosy Luo -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Rosy Luo.jpg\' | relative_url }}"
            alt="Dr. Rosy Luo"
            class="circle-img mb-3"
          />
          <h5>Dr. Rosy Luo</h5>
          <h6><i>Founder and CEO, Raygen Innovation, China</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>
          Leadership in Convergence: How Human-AI Partnerships and Ecosystem
          Thinking are Driving Global Robotics
        </h4>
        <p>
          The global expansion of small and medium-sized enterprises (SMEs) in
          the robotics sector is frequently hindered by a critical bottleneck:
          the scarcity of localized, high-fidelity data required for robust
          algorithm training and validation. This presentation introduces
          'Ecosystem Leadership,' a novel framework that addresses this
          challenge by forging deep Human-AI partnerships. <br /><br />
          We present a case study demonstrating how, through this model, we
          leverage NVIDIA's Isaac Sim and OpenUSD platforms not merely as tools,
          but as collaborative 'AI Partners'. This partnership generates
          synthetic data that is both technically precise and culturally
          localized, effectively overcoming the data dilemma and enabling
          robotics SMEs to de-risk development, accelerate international market
          entry, and build foundational local trust. The talk concludes by
          arguing that this leadership model—defined by its human-centric focus,
          collaborative nature, and sustainable mindset—represents a powerful
          and effective approach often championed by women in technology. It
          provides a tangible blueprint for how we can lead the convergence of
          minds and disciplines to build a more inclusive and resilient
          intelligent future.
        </p>
        <h4>Biography</h4>
        <p>
          With a Ph.D. from the University of Nottingham and an M.Sc. from
          Vanderbilt, Rosy Luo is a visionary leader in AI and robotics. She has
          led roles as an AI Architect in autonomous driving, Head of Perception
          Algorithms for UBTECH’s humanoid robot Walker, and Technical Lead at
          SANY International Research Institute. A pioneer in China's robotics
          scene, her teams have won RoboCup awards, and her work has advanced
          synthetic data use in mass production. In 2024, she founded Raygen
          Innovation to drive human-robot collaboration and explore
          transformative AI applications across industries.
        </p>
      </div>
    </div>
    <!-- Dr. Kyoung-Sook Kim -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Kyoung-Sook Kim.jpg\' | relative_url }}"
            alt="Dr. Kyoung-Sook Kim"
            class="circle-img mb-3"
          />
          <h5>Dr. Kyoung-Sook Kim</h5>
          <h6>
            <i
              >The National Institute of Advanced Industrial Science and
              Technology, Japan</i
            >
          </h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>A trajectory generation for an indoor space</h4>
        <p>
          Human mobility simulation and trajectory generation are critical for
          urban planning, transportation management, and privacy-preserving
          mobility analysis. While deep generative models, such as GANs and
          VAEs, can synthesize mobility data, they often fail to capture complex
          environmental constraints and diverse spatiotemporal patterns, thereby
          limiting the realism of pedestrian trajectory simulations. In this
          presentation, I will share a diffusion-based generative framework to
          adapt the U-Net architecture for noise prediction across diffusion
          timesteps and to incorporate indoor map and spatial density encoders
          to capture fine-grained spatiotemporal characteristics in indoor
          environments.
        </p>
        <h4>Biography</h4>
        <p>
          Kyoung-Sook Kim is Deputy Director at the Intelligent Platforms
          Research Institute, AIST Japan. Her work focuses on spatiotemporal
          data platforms, big data analysis, and AI/data quality. She leads the
          ISO/IEC 5259-2 project and contributes to international standards on
          AI data ecosystems and smart cities. Previously, she was a researcher
          at NICT Japan (2007-2014). She co-chairs the Moving Features SWG,
          GeoAI DWG, and Urban Digital Twins DWG at the Open Geospatial
          Consortium (OGC), and actively participates in ISO/IEC JTC 1/SC 42,
          IEC SyC Smart Cities, and ISO/TC 204 working groups.
        </p>
      </div>
    </div>
    <!-- Dr. Sabine Graf -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Sabine Graf.png\' | relative_url }}"
            alt="Dr. Sabine Graf"
            class="circle-img mb-3"
          />
          <h5>Dr. Sabine Graf</h5>
          <h6><i>Athabasca University, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>AI and Education: From AI support to AI-human collaboration</h4>
        <p>
          AI has tremendous potential, but its greatest potential is not to do
          work for us, but with us. In this talk, we will dive into the area of
          AI and education and explore how AI can support learners and educators
          as well as work in partnership with them to improve learning and
          teaching. When building effective and smart learning environments that
          are inclusive and consider the needs of all learners, diverse
          perspectives are of utmost importance, particularly in the design and
          evaluation of the underlying AI approaches. In this talk, we will
          discuss how AI can help to consider each individual learner's needs by
          analyzing behavioral and other data from learners and educators to
          find characteristics of learners as well as behavior patterns that
          lead to success or failure. In addition, we will introduce several
          smart learning environments that consider such individual differences,
          provide personalized recommendations, and encourage learners and
          educators to reflect on their activities. We will start with learning
          environments that focus on supporting learners and/or educators
          through personalized recommendations and adaptive interfaces and then
          investigate smart learning environments that work together with
          learners or educators to better understand their needs and provide
          better personalization.
        </p>
        <h4>Biography</h4>
        <p>
          Sabine Graf is a Full Professor in Canada whose research focuses on
          making learning and information systems more personalized,
          intelligent, and data-driven. Her research aims at making information
          systems, especially learning systems, more personalized, intelligent
          and adaptive, as well as enabling those systems to make use of the
          huge amounts of collected data to provide decision makers (e.g.,
          students, teachers, etc.) with actionable information. Her expertise
          includes adaptivity, personalization, AI, user modeling, and learning
          analytics. She has authored over 150 peer-reviewed publications with
          10,000+ citations, including four best paper awards. Dr. Graf is
          frequently invited to present her work at international conferences,
          universities, and companies.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Session 2 -->
<section
  class="page-section container-fluid px-3 pb-5 mt-2 d-flex flex-column gap-4 fs-5"
  id="wsw-panel-discussion"
>
  <hr />

  <div class="d-flex flex-column gap-4 pt-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h2 class="text-center">
          Women in a Smart World Session II - Panel Discussion
        </h2>
        <h4 class="text-center">
          Telus Convention Centre - Macleod Hall B & C <br />
          Thursday August 21, 2025 <br />2:15pm - 3:45pm
        </h4>
        <h3>
          Join us for a panel discussion on how diversity and gender equity
          shapes inclusive human-AI partnerships.
        </h3>
        <p class="fs-5">
          As smart technologies become deeply embedded in how we live, work, and
          connect, it is essential that the design and deployment of these
          innovations reflect the diversity of the societies they serve. This
          panel discussion, which is aligned with the theme of this Congress
          "Convergence of Minds: Forging Human-AI Partnerships Across
          Disciplines", together with discussions emerging from presentations of
          AI researchers yesterday, will highlight the leadership and
          perspectives of women who are shaping a more inclusive and equitable
          smart world. By sharing a window to various fields in emerging
          technologies and engineering, the panelists will share insights at
          various stages of their career journey and how they have shaped
          inclusive and systemic change in a smart world.
          <br /><br />
          Representing fields such as AI policy and development, digital health,
          education, urban innovation, and ethics, our panelists will explore
          how women's participation across disciplines strengthens human-AI
          partnerships and ensures that emerging technologies are built with
          empathy, accessibility, and social impact in mind. By championing
          gender equity and intersectional inclusion, this discussion will show
          how women are advancing technologies that not only solve problems—but
          also uplift communities and drive systemic change.
        </p>
      </div>
    </div>
    <h3>Panelist Biographies</h3>
    <!-- Dr. Rossitza Marinova -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Rossitza Marinova.jpg\' | relative_url }}"
            alt="Dr. Rossitza Marinova"
            class="circle-img mb-3"
          />
          <h5>Panel Moderator</h5>
          <h5>Dr. Rossitza Marinova</h5>
          <h6><i>Concordia University of Edmonton, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Rossitza Marinova has been a faculty member at Concordia University of
          Edmonton since 2004. Before joining Concordia, she worked as a
          research scientist in the software development industry in Canada and
          in a government research laboratory in Japan. Dr. Marinova is a Senior
          Member of the IEEE.
        </p>
      </div>
    </div>
    <!-- Terri Steeves -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Terri Steeves.jpg\' | relative_url }}"
            alt="Terri Steeves"
            class="circle-img mb-3"
          />
          <h5>Terri Steeves</h5>
          <h6>
            <i
              >APEGA President Terri Steeves, FEC, FGC (Hon.), P.Eng., ICD.D.</i
            >
          </h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          APEGA President and professional engineer Terri Steeves is a strategic
          leader who honed her technical competence through design engineering,
          field operations, and system design in her more than 30 years at TC
          Energy. She has held a variety of progressively senior roles,
          including vice-president, within the natural gas pipelines and energy
          business units.
          <br /><br />
          An active volunteer in industry and the engineering community, Steeves
          has been a mentor and coach for young professionals through many
          organizations, including APEGA, the University of Calgary, the
          Construction Owners Association of Alberta, the United Way, and TC
          Energy.
        </p>
      </div>
    </div>
    <!-- Dr. Rosy Luo -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Rosy Luo.jpg\' | relative_url }}"
            alt="Dr. Rosy Luo"
            class="circle-img mb-3"
          />
          <h5>Dr. Rosy Luo</h5>
          <h6><i>Founder and CEO, Raygen Innovation, China</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          With a Ph.D. from the University of Nottingham and an M.Sc. from
          Vanderbilt, Rosy Luo is a visionary leader in AI and robotics. She has
          led roles as an AI Architect in autonomous driving, Head of Perception
          Algorithms for UBTECH’s humanoid robot Walker, and Technical Lead at
          SANY International Research Institute. A pioneer in China's robotics
          scene, her teams have won RoboCup awards, and her work has advanced
          synthetic data use in mass production. In 2024, she founded Raygen
          Innovation to drive human-robot collaboration and explore
          transformative AI applications across industries.
        </p>
      </div>
    </div>
    <!-- Dr. Stella George -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Stella George.jpg\' | relative_url }}"
            alt="Dr. Stella George"
            class="circle-img mb-3"
          />
          <h5>Dr. Stella George</h5>
          <h6><i>Athabasca University, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Stella George, BSc.(hons), Ph.D. is an associate professor in the
          School of Computing and Information Systems at Athabasca University.
          She earned her PhD in AI in 1995 and worked in the application of AI
          in the financial sector in the late 1990s. Stella has worked with
          faculty, managers and student in leadership skill development. Stella
          returned to academia in 2019, joining the School of Computing and
          Information Science at Athabasca University to research the impact of
          AI on society and education.
        </p>
      </div>
    </div>
    <!-- Eunice Leung -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Eunice Leung.png\' | relative_url }}"
            alt="Eunice Leung"
            class="circle-img mb-3"
          />
          <h5>Eunice Leung</h5>
          <h6>
            <i
              >Johns Hopkins University, USA <br />University of Calgary, Canada
            </i>
          </h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Eunice Leung is an undergraduate student at Johns Hopkins University
          majoring in Chemical and Biomolecular Engineering. Her research spans
          neurobiology and biomechanics, focusing on improving human health. She
          studies protein pathways in Alzheimer’s at the Johns Hopkins School of
          Medicine and gait dynamics related to prosthesis use at the University
          of Calgary. Eunice is also a dedicated STEM advocate. She co-founded
          STEMinmotion, mentors first-generation students, and leads outreach
          for a student-run research journal. From lab work to community
          engagement, she’s committed to making science more inclusive and
          impactful.
        </p>
      </div>
    </div>
    <!-- Mahnoush M. Jahromi -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Mahnoush M. Jahromi.jpg\' | relative_url }}"
            alt="Mahnoush M. Jahromi"
            class="circle-img mb-3"
          />
          <h5>Mahnoush M. Jahromi</h5>
          <h6><i>University of Calgary, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Mahnoush M. Jahromi is a PhD candidate in Geomatics Engineering at the
          University of Calgary, with an MSc in Biomedical Engineering and a BSc
          in Electrical Engineering. She brings over eight years of industry
          experience in firmware and AI-driven IoT systems. Her research focuses
          on developing an IoT framework for real-time health monitoring of
          workers, integrating biomedical and geomatics approaches. Passionate
          about occupational health and safety, she aims to advance sustainable
          human performance. Mahnoush has been recognized for research
          commercialization and actively participates in innovation programs
          like Launchpad and Evolve to Innovate.
        </p>
      </div>
    </div>
    <!-- Dr. Runhe Huang -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Runhe Huang.png\' | relative_url }}"
            alt="Dr. Runhe Huang"
            class="circle-img mb-3"
          />
          <h5>Dr. Runhe Huang</h5>
          <h6><i>Hosei University, Japan</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Runhe Huang received her B.Sc. in Electronics Technology from the
          National University of Defense Technology, China, in 1982, and her
          Ph.D. in Computer Science and Mathematics from the University of the
          West of England, UK, in 1993. She is a full professor at Hosei
          University, Japan since 2003. She served as the head of the Department
          of Computer Science from 2008 to 2010 and currently holds the position
          of Deputy Director at Hosei University Library.
        </p>
      </div>
    </div>
    <!-- Tatiana Cardona Sepulveda -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Tatiana Cardona Sepulveda.jpg\' | relative_url }}"
            alt="Tatiana Cardona Sepulveda"
            class="circle-img mb-3"
          />
          <h5>Dr. Tatiana Cardona Sepulveda</h5>
          <h6><i>Saint Louis University, USA</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Dr. Tatiana Cardona currently serves as an Assistant Professor at
          Saint Louis University. With prior roles as an Assistant Teaching
          Professor at Ball State University and a Visiting Professor at Tech.
          Institute of Monterrey, she's experienced in instructing
          undergraduates and graduates in Information Systems, Project
          Management, and Optimization Models. Her academic journey includes a
          PhD in Systems Engineering from Missouri University of Science and
          Technology, complemented by a Master's in Engineering Management and
          Lean Six Sigma certification.
        </p>
      </div>
    </div>
    <!-- Dr. Xiaohua Feng -->
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/WSW - Xiaohua Feng.png\' | relative_url }}"
            alt="Tatiana Cardona Sepulveda"
            class="circle-img mb-3"
          />
          <h5>Dr. Xiaohua Feng</h5>
          <h6><i>University of Bedfordshire, United Kingdom</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Dr Xiaohua Feng is a Senior Lecturer at School of Computer Science and
          Technology with expertise in Computer Security, Networked System, AI,
          Data Science, Computer Law and Machine Leaning/Deep Leaning; focusing
          on Computing education and pedagogics. She has been investigating
          machine learning models for cyber security cases several AI-driven
          methods for comms systems. She is currently working on some projects
          on AI driven models. Currently, Dr Feng is the Ethical Officer of
          School of Computer Science and Technology
        </p>
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pb-5 mt-2 d-flex flex-column gap-4 fs-5"
  id="wsw-panel-discussion"
>
  <hr />

  <div class="d-flex flex-column gap-4 pt-4">
    <h3>Chair for Sessions I and II</h3>
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/lisa.jpg\' | relative_url }}"
            alt="Dr. Rossitza Marinova"
            class="circle-img mb-3"
          />
          <h5>Dr. Lisa Carter</h5>
          <h6 class=""><i>Associate Professor</i></h6>
          <h6><i>Athabasca University, Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h4>Biography</h4>
        <p>
          Lisa Carter is an Associate Professor at Athabasca University's
          Faculty of Science and Technology. She has held progressive leadership
          roles, with the most recent as inaugural Dean for two terms. She has
          led major initiatives such as creating state-of-the-art research and
          teaching labs, launching an online architecture program, and
          developing online science courses. Dedicated to advancing STEM
          outreach, she has also supported faculty and staff growth and
          champions the fostering of capacity building in rural Alberta
          communities.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
