---
layout: default
title: AI's Transformative Influence on Higher Education
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..//assets/images/kyler-nixon-_ZBekGTBh-c-unsplash.jpg');
    background-size: cover;
    background-position: 50% 60%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <div>
        <h3>IEEE Smart World Congress 2025</h3>
        <h1 class="display-5 fw-bolder mt-3">
          AI's Transformative Influence on Higher Education Panel
        </h1>
      </div>
      <div>
        <h3>Calgary, Alberta, Canada</h3>
        <h3 class="">August 18 - 22, 2025</h3>
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 py-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row g-5">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <div>
        <h2 class="fs-2 mb-5">
          You're Invited: AI's Transformative Influence on Higher Education
        </h2>
        <p class="fs-5">
          Join us for an illuminating panel discussion, "AI's Impact on Higher
          Education," where we dive deep into how generative AI is reshaping
          teaching, research, and the future of academia. Our distinguished
          panel features five accomplished experts, each bringing decades of
          hands-on university experience, groundbreaking research, and
          real-world industry insight spanning law and ethics, cutting-edge
          machine learning and cognitive computing, human-computer interaction,
          applied AI, intelligent vehicles, and next-generation IoT
          technologies. Whether you're a student, educator, researcher, or
          professional intrigued by the profound shifts in higher education,
          this session promises fresh perspectives and practical takeaways.
          Together, our panelists will explore timely and thought-provoking
          questions such as:
        </p>
        <ul class="fs-5">
          <li>
            How can universities leverage AI to revolutionize research
            endeavors?
          </li>
          <li>
            In what ways will AI transform learning, teaching, and assessment
            methods?
          </li>
          <li>
            How can faculty lead and innovate to serve a society increasingly
            shaped by AI technologies?
          </li>
          <li>
            What does the educational ecosystem of the future look like in an
            AI-driven world?
          </li>
        </ul>
        <p class="fs-5">
          Don't miss this unique opportunity to gain insights from leaders at
          the forefront of both AI and higher education. Bring your curiosity,
          your questions, and your vision for the future. All are welcome!
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 row">
      <div class="col-12 mb-4"><h3>Panel Chair</h3></div>
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/Eric Wang.jpg\' | relative_url }}"
            alt="Dr. Zengxiang (Eric) Wang"
            class="circle-img mb-3"
          />
          <h5>Dr. Zengxiang (Eric) Wang</h5>
          <h6><i>Professor, Athabasca University</i></h6>
          <h6><i>Canada</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Eric Wang, professor of finance at Faculty of Business, His research
          interests include option pricing, shareholder activism and its impact
          on CEO compensation and stock returns, the response of corporate
          director's compensation mix to firm's transition from junior stock
          exchange to main exchange, agency conflicts in co-regulation, and
          dynamics of Canadian oil price and its impact on exchange rate and
          stock markets, financial fraud, and distance education and AI's impact
          on higher education. He has published in education and management
          journals such as Distance Education in China, IEEE SmartWorld,
          Managerial Finance, International Review of Financial Analysis,
          Journal of Management and Governance, Journal of Financial Crime, and
          Journal of Management. He is currently interested in student
          performance and ESG performance in the age of generative AI.
          <br /><br /><a
            href="https://www.athabascau.ca/business/our-people/zengxiang-eric-wang.html"
            target="_blank"
            >Professor Wang's website</a
          >
        </p>
      </div>
    </div>
    <div class="col-12 row d-flex flex-column gap-4">
      <div class="col-12 mb-4"><h3>Panelists</h3></div>
      <div class="col-12 row p-0">
        <div
          class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
        >
          <div class="text-center">
            <img
              src="{{ \'/assets/images/metaverse/georg_borges.jpg\' | relative_url }}"
              alt="Dr. Georg Borges"
              class="circle-img mb-3"
            />
            <h5>Dr. Georg Borges</h5>
            <h6><i>Professor, Saarland University</i></h6>
            <h6><i>Germany</i></h6>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <h3>Biography</h3>
          <p>
            Georg Borges is a Professor of Civil Law, Legal Informatics, German
            and International Business Law and Legal Theory and the managing
            director of the Institute for Legal Informatics at Saarland
            University, Germany. From 2004 to 2014, he was Professor of Law at
            Ruhr-University Bochum. Besides this, he was also a Judge at the
            State Court of Appeals, Hamm Circuit. Since February 2023, he is
            also a distinguished visiting professor at the University of
            Johannesburg, Faculty of Law. Since September 2024, he is also a
            visiting professor at Keio University, Tokyo. As an expert on IT Law
            and on law and informatics, Prof. Borges has authored several books
            and numerous articles in the field. Prof. Borges is involved in
            numerous projects in the field of IT and legal informatics.
            Currently, a focus of his interest is on the legal framework of AI.
            <br /><br /><a
              href="https://www.uni-saarland.de/lehrstuhl/borges/lehrstuhl/borges.html"
              target="_blank"
              >Professor Borges's website</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 row p-0">
        <div
          class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
        >
          <div class="text-center">
            <img
              src="{{ \'/assets/images/Richard Dixon.jpg\' | relative_url }}"
              alt="Richard Dixon"
              class="circle-img mb-3"
            />
            <h5>Richard Dixon</h5>
            <h6>
              <i>Interim Dean, Faculty of Business Athabasca University</i>
            </h6>
            <h6><i>Canada</i></h6>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <h3>Biography</h3>
          <p>
            Richard Dixon specializes in regulation, professional regulators,
            strategic management and foresight, ethics, and energy research,
            with practical experience in government, profit, and non-profit
            fields.
            <br /><br />
            Richard is the Interim Dean and the Co-Chair of the Management
            Department and Academic Co-ordinator at Athabasca University's
            Faculty of Business. At Athabasca University, he co-led the
            development and taught North America's first AI-powered virtual
            co-op. He was the 2024 recipient of the Craig Cunningham Memorial
            Award for Teaching Excellence at Athabasca University.
            <br /><br />
            Richard was the first Chief of Strategic Foresight in the Alberta
            Energy Regulator. He provided Executive and Board members with
            strategic decision-making knowledge, intelligence, and foresight.
            Previously, Professor Dixon was the Centre for Applied Business
            Research in Energy and the Environment's (CABREE) first Executive
            Director and Adjunct Professor at the University of Alberta. He
            taught graduate students, conducted extensive media commentary on
            energy issues and led many energy studies. Before this role, Richard
            led the Strategic Intelligence Unit in Alberta Environment,
            identified emerging energy and environmental issues and developed
            strategic responses for the Ministry and Government of Alberta. He
            co-chaired the Emissions Trading Project in the Alberta government,
            which won the Premier's Gold Award of Excellence. The Project was
            the basis for developing North America's first mandatory carbon tax.
            Richard is working on another degree, a Ph.D. in Strategic
            Management and Ethics, from Walden University. His thesis focuses on
            significant changes impacting Canadian professions and professional
            regulators.
            <br /><br /><a
              href="https://www.athabascau.ca/business/our-people/richard-dixon.html"
              target="_blank"
              >Professor Dixon's website</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 row p-0">
        <div
          class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
        >
          <div class="text-center">
            <img
              src="{{ \'/assets/images/Oscar_Lin.jpg\' | relative_url }}"
              alt="Fuhua (Oscar) Lin"
              class="circle-img mb-3"
            />
            <h5>Dr. Fuhua (Oscar) Lin</h5>
            <h6>
              <i>Professor, Athabasca University</i>
            </h6>
            <h6><i>Canada</i></h6>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <h3>Biography</h3>
          <p>
            Dr. Fuhua (Oscar) Lin is a professor at School of Computing and
            Information Systems of Faculty of Science and Technology, of
            Athabasca University, Canada. Dr Lin's research interests include
            adaptive learning, intelligent systems, online learning, virtual
            reality, and multi-agent systems. He serves as an Associate Editor
            of Computers and Education: X-Reality. He served as a General Chair
            of IEEE International Conference on Cyber Science and Technology
            Congress both 2020 and 2021, Program Chair of International
            Conference on Intelligent Tutoring Systems 2024. He serves as a
            co-General Chair of IEEE SWC 2025.

            <br /><br /><a href="https://oscar.athabascau.ca/" target="_blank"
              >Professor Lin's website</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 row p-0">
        <div
          class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
        >
          <div class="text-center">
            <img
              src="{{ \'/assets/images/singh.jpg\' | relative_url }}"
              alt="Dhananjay Singh"
              class="circle-img mb-3"
            />
            <h5>Dr. Dhananjay Singh</h5>
            <h6>
              <i>Professor, Penn State University</i>
            </h6>
            <h6><i>USA</i></h6>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <h3>Biography</h3>
          <p>
            Prof. Dhananjay Singh is a Teaching Professor in the College of
            Information Sciences and Technology at Penn State University, USA,
            where he also serves as Director of the ReSENSE Lab, dedicated to
            developing advanced technologies for smart communities. His research
            interests encompass Informatics and Intelligent Systems,
            Human-Computer Interaction, Intelligent Vehicles, Applied AI/Data
            Sciences, and AI-powered Internet of Things (IoT). With over 20
            years of distinguished experience in academia and industry, Dr.
            Singh has held various leadership roles, including department chair,
            dean, senior researcher, and entrepreneur at top institutions in
            South Korea. Before joining Penn State, he was a Full Professor at
            Saint Louis University, USA, and at Hankuk University of Foreign
            Studies, Seoul, South Korea.
            <br /><br />
            Prof. Singh holds a B.Tech. in Computer Science and Engineering from
            VBS Purvanchal University, an M.Tech. in Information Technology
            (Wireless Communication and Computing) from the Indian Institute of
            Information Technology Allahabad (IIIT-A), and a Ph.D. in Ubiquitous
            IT from Dongseo University, South Korea.
            <br /><br />
            A Senior Member of IEEE, ACM, and the IHCI Society, Dr. Singh, is
            highly active in the international academic community. He has served
            and continues to serve as General Chair and Program Chair for
            numerous international conferences and workshops, including IHCI
            (2019–2025), ICA (2023–2025), GIECS 2025, IEEE Smart World Congress
            2025, and several others. He, has delivered over 100 invited and
            keynote talks worldwide and serves as Executive Director of IHCI
            society, Associate editor for PLOS One Journal, The-Korean-Institute
            of Information Scientists and Engineers (KIISE), Springer LNCS/ CSIS
            Conference proceedings, and book series editor for Springer's
            Blockchain Technologies. Dr. Singh is a co-inventor/author of more
            than 25 granted patents, 3 books, 15 book chapters, 10 edited
            conference proceedings, over 75 conference papers, and 50 scholarly
            journal articles. For his significant contributions to technology
            and education, he has received multiple best paper awards,
            innovation awards, achievement awards, and the Bhartiya Ratna
            Puraskar from the State Government of Uttar Pradesh at the 15th
            Pravasi Bharatiya Divas Convention in Varanasi, India.

            <br /><br /><a
              href="https://ist.psu.edu/directory/dvs6298"
              target="_blank"
              >Professor Singh's website</a
            >
          </p>
        </div>
      </div>
      <div class="col-12 row p-0">
        <div
          class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
        >
          <div class="text-center">
            <img
              src="{{ \'/assets/images/Hui Yu.jpg\' | relative_url }}"
              alt="Hui Yu"
              class="circle-img mb-3"
            />
            <h5>Dr. Hui Yu</h5>
            <h6>
              <i>Professor, University of Glasgow</i>
            </h6>
            <h6><i>UK</i></h6>
          </div>
        </div>
        <div class="col-md-9 col-sm-8">
          <h3>Biography</h3>
          <p>
            Hui Yu is a Professor with the University of Glasgow. He leads the
            Visual Computing and Social Robot Group at the university. His
            research interests lie in visual and cognitive computing and machine
            learning with applications to 4D facial expression reconstruction
            and tracking for social signal analysis, human-machine interaction,
            as well as intelligent vehicle, and video analysis. Professor Yu's
            research work has led to several awards and successful collaboration
            with worldwide institutions and industries. He is the Associate Vice
            President of the IEEE Systems, Man, and Cybernetics Society and a
            Scientific Advisor for high-tech companies in the UK.
            <br /><br /><a
              href="https://www.gla.ac.uk/schools/psychologyneuroscience/staff/huiyu/"
              target="_blank"
              >Professor Yu's website</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
