---
layout: default
title: Keynotes - Dr. Giancarlo Fortino
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../../assets/images/fortino_keynote_digital_twins_gen_ai.png');
    background-size: cover;
    background-position: 50% 0%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        From Digital Twins to Generative Digital Twins: Towards a Novel Approach
        in the IoT Edge-Cloud Continuum
      </h1>
      <h3>Presented by: Dr. Giancarlo Fortino</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us in exploring how generative AI is empowering the future of
          digital twins
        </h3>
        <p class="fs-5">
          Digital Twins (DTs) are software replicas that not only mirrors
          physical entities but can also proactively predict, control, optimize
          and simulate their behavior. Born in the manufacturing sector, this
          concept after an initial hype stayed untouched for decades. The rise
          of Internet of Things (IoT) and Artificial Intelligence (AI) enabled
          DT, respectively, to exchange real-world data and to fully exploit it
          for fulfilling its own goals. Very recently, Generative AI (Gen-AI)
          methods started being sporadically applied to DT in different contexts
          and with different targets. In this talk, starting from our
          experiences on design, implementation and evaluation of DTs and, more
          recently, of Opportunistic DTs, we first provide a definition for the
          Generative DT (GDT) which embraces main distinctive aspects and
          potential of current and future Gen-Al-aided DTs.
          <br /><br />
          In particular, we disclose the role of Gen-AI in conciliating the
          model and the data-driven approach for the development of DTs. Then,
          we analyze the added value of main Gen-AI architectures for maximizing
          the performance of DTs operating in the IoT domain and deployed in the
          edge-cloud continuum.
          <br /><br />
          Finally, we illustrate the potential of a GDT in emblematic Smart City
          scenarios through a use case involving the prediction of vehicles'
          trajectories when, due to uncontrolled events, only partial
          information is accessible. The outlined solution conciliates accuracy
          and explainability in the trajectory prediction with overall system
          robustness and effectiveness.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/metaverse/g.jpg\' | relative_url }}"
            alt="Dr. Giancarlo Fortino"
            class="circle-img mb-3"
          />
          <h5>Dr. Giancarlo Fortino</h5>
          <h6><i>The University of Calabria, Italy</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Giancarlo Fortino (IEEE Fellow 2022) is Full Professor of Computer
          Engineering at the Dept of Informatics, Modeling, Electronics, and
          Systems of the University of Calabria (Unical), Italy. He received a
          PhD in Computer Engineering from Unical in 2000. Since 2016, he is
          senior research fellow at the Italian ICAR-CNR Institute. Fortino is
          also distinguished professor and scientist of several chinese
          universities and research centers: Wuhan University of Technology
          (WUT), Huazhong Agricultural University (HZAU), Huazhong University of
          Science and Technology (HUST), Nanyang Institute of Technology
          (NYIST), East China Jiaotong University (ECJTU), Chengdu University of
          Information Technology (CUIT), and Shenzhen Institute of Advanced
          Technology. He was also visiting researcher at ICSI, Berkeley (USA),
          in 1997 and 1999 and visiting professor at Queensland University of
          technology in 2009. He is currently Distinguished Lecturer of the IEEE
          SMC society. At Unical, he is the Rector’s delegate to Int’l
          relations, the chair of the PhD School in ICT, the director of the
          Postgraduate Master course in INTER-IoT, and the director of the SPEME
          lab as well as co-chair of Joint labs on IoT established between
          Unical and WUT, SMU and HZAU Chinese universities, respectively.
          Fortino is currently the scientific responsible of the UNICAL Digital
          Health group of the Italian CINI National Laboratory and of IEEE at
          Unical initiative. He is Highly Cited Researcher 2020-2024 in Computer
          Science by Clarivate. He had 25+ highly cited papers in WoS, and
          h-index=85 with about 30000 citations in Google Scholar. His research
          interests include wearable computing systems, e-Health, Internet of
          Things, agent-based computing, and, more recently, generative AI in
          Education. He is author of 700+ papers in int’l journals, conferences
          and books. He is (founding) series editor of IEEE Press Book Series on
          Human-Machine Systems and EiC of Springer Internet of Things series
          and AE of premier int'l journals such as IEEE TASE (senior editor),
          IEEE TAFFC-CS, IEEE THMS, IEEE T-AI, IEEE SJ, IEEE JBHI, Information
          Fusion, EAAI, etc. He chaired many int’l workshops and conferences
          (about 150), was involved in a huge number of int’l
          conferences/workshops (about 1000) as IPC member, is/was guest-editor
          of many special issues (about 100). He is cofounder and CEO of
          SenSysCal S.r.l., a Unical spinoff focused on innovative IoT systems,
          and recently cofounder and vice-CEO of the spin-off Bigtech S.r.l,
          focused on big data, AI and IoT technologies. Fortino is currently
          Associate VP of the Cybernetics area of the IEEE SMCS and former
          member of the IEEE SMCS BoG and former chair of the IEEE SMCS Italian
          Chapter.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
