---
layout: default
title: FUSION Workshop 2025
published: false
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../..assets/images/Digital_Twin_Calgary.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container 3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        The 5th International Workshop on Future Trends in Computing System
        Technologies & Applications (FUSION) 2025
      </h1>
      <div>
        <a class="btn btn-primary" href="#submission-guidelines"
          >Submit Paper to Workshop</a
        >
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid 3 py-5 mt-2 d-flex flex-column gap-4"
>
  <div class="row g-5">
    <div class="col-sm-4 d-flex flex-column gap-4">
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Important Dates</h4>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center m-0">
            Deadline of Abstract and Full Paper Submission
          </h5>
          <h6 class="">
            <s>May 16, 2025</s
            ><span class="text-decoration-line-through" style="color: red">
              June 10, 2025</span
            >
          </h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">
            Authors Notification and Start of Early Bird Registration
          </h5>
          <h6 class="text-decoration-line-through">June 20, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">
            Submission Deadline of Camera-Ready Papers
          </h5>
          <h6 class="text-decoration-line-through">June 30, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center m-0">
            Deadline of Authors/Early-bird Registration
          </h5>
          <h6 class="text-decoration-line-through">June 30, 2025</h6>
        </div>
      </div>
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Organizers</h4>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <div class="d-flex flex-column w-100">
              <h5 class="fs-6">
                Bernady O. Apduhan <br />
                Kyushu Sangyo University, Japan <br />
                <a href="mailto:bob@is.kyusan-u.ac.jp">bob@is.kyusan-u.ac.jp</a>
              </h5>
              <h5 class="fs-6">
                Robert C-H. Hsu <br />
                Chung Hua University, Taiwan <br />
                <a href="mailto:chh@chu.edu.tw">chh@chu.edu.tw</a>
              </h5>
              <h5 class="fs-6">
                Kazuaki Tanaka <br />
                Kyushu Institute of Technology, Japan <br />
                <a href="mailto:kazuaki@ics.kyutech.ac.jp"
                  >kazuaki@ics.kyutech.ac.jp</a
                >
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 d-flex flex-column gap-4">
      <div>
        <h2 class="fs-2 mb-2">Join us at the FUSION Workshop 2025</h2>
        <p class="fs-5">
          Advances, developments in computing systems and innovative
          technologies are fast growing towards more complex, heterogeneous,
          dynamically scalable, ubiquitous, autonomic, and trustworthy computing
          systems. Cloud computing technology provides an abstraction of
          concealed complex infrastructure of virtualized resources and provided
          as web services. The fast-evolving fog computing and edge computing
          paradigms as supplements to cloud service performance, along with the
          advancing infrastructures for the next generation of clouds, has
          spurred the grand challenges in network-based computing.
          <br /><br />
          The aim of FUSION-2025 workshop is to provide a venue of scientific
          interaction with grand challenging research areas of and development
          of future infrastructure and platforms of complex network computing
          system technologies, innovations and applications. Papers from
          researchers, industry practitioners, and graduate students are highly
          sought by. The workshop will provide authors with the venue to present
          their research and engage with participants during the Q&A time.
        </p>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
          <h2 class="fs-2">Discussion Topics</h2>
          <div class="row pb-3 g-4">
            <div class="col-12 mb-3 mb-sm-0">
              <h5 class="fs-5">
                Topics of discussion may include, but are not limited to:
              </h5>
              <ul>
                <li>Cloud/Edge Computing Systems</li>
                <li>Resilient/Dependable Cloud</li>
                <li>Edge AI</li>
                <li>Digital Twin</li>
                <li>AI-inspired Fog/Edge Computing Applications</li>
                <li>Machine/Deep Learning</li>
                <li>Data Science-based Edge Computing/Edge in Data Science</li>
                <li>Generative AI and/in Edge Computing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="submission-guidelines" class="row">
        <div class="col-sm-12 d-flex flex-column gap-3 justify-content-around">
          <h2 class="fs-2">Submission Guidelines</h2>
          <p class="fs-5">
            The submitted papers must be 6 pages long including figures and
            references and prepared using IEEE Computer Society Proceedings
            manuscripts style. All submissions must be typeset in double-column
            IEEE format, with all fonts embedded. Submitted papers must include
            the contact information of all the authors. The IEEE LaTeX and
            Microsoft Word templates for conferences can be found at IEEE
            Manuscript Templates for Conference Proceedings at
            <a
              href="https://www.ieee.org/conferences/publishing/templates.html"
              target="_blank"
              >https://www.ieee.org/conferences/publishing/templates.html</a
            >. Submitted papers will be peer reviewed by at least three
            reviewers. The materials presented in the papers should not be
            published or under submission elsewhere. All papers should be
            submitted electronically via the link below. When submitting, please
            select the appropriate Track for your paper (i.e., FUSION). Accepted
            papers will be included in the conference proceedings to be
            published by IEEE-CS CPS (indexed by EI).
          </p>
          <div
            class="d-flex flex-column gap-2 justify-content-start align-items-start"
          >
            <a
              class="btn btn-primary"
              href="https://edas.info/newPaper.php?c=33582&track=131131"
              target="_blank"
              >Submit Paper to Workshop</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=site.data.sponsors %}
