---
layout: default
title: Keynotes - Dr. Chunsheng Yang
published: false
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('../../assets/images/steve-johnson-_0iV9LmPDn0-unsplash.jpg');
    background-size: cover;
    background-position: 50% 50%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div
    class="hero-section"
    style="min-height: 60vh; background-color: rgba(0, 0, 0, 0.6)"
  >
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        LLM (LSM) Is Not Equal to the Third AI Wave
      </h1>
      <h3>Presented by: Dr. Chunsheng Yang, FCAE</h3>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-4"
>
  <div class="d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
        <h3>
          Join us for a thought-provoking keynote exploring the history,
          promises, and pitfalls of AI and LLMs and what lies beyond in the
          quest for truly vital and trustworthy AI technologies
        </h3>
        <p class="fs-5">
          We have witnessed the achievements of AI research and its impact on
          human life and society over the past few decades. Since its inception
          at the Dartmouth Conference 1956, AI has gone through several boom and
          bust cycles. Each bust pushed AI research from one boom to yet another
          prosperous boom. For example, the most recent bust from 1987 to 1993
          led to another AI research boom which has lasted almost 20 years
          (2000-2019). 2017 the attention-based transformer invented by Google
          broke through the ceiling of deep learning and boosted the development
          of transformer-based large language models (LLM) or so-called
          large-scale models (LSM). OpenAI released ChatGPT 4.0 on Nov 2022
          without sufficient evaluation of the safety and trustworthiness, which
          promoted the tournament of LLM markets overwhelmingly. It appears that
          the third AI wave is coming. However, the reliability of LLM/LSM
          become less with increasing size of the models. Many challenges still
          remain to be addressed. Today AI development run into much more
          barriers in meeting the expectations of public in the
          commercialization of AI technologies such as safe-driving,
          self-abstracting, self-learning, etc. In this talk the speaker will
          explore what is pros and cons in the development of LLM, and
          having-vitality AI technologies by revisiting the AI history, and the
          major achievements from the current trends and personal experience in
          developing AI technologies for addressing real-world problems over the
          last 30 years. In terms of the natures of LLM/LSM, we do believe that
          LLM/LSM is not equal to the third AI wave, more diverse research
          directions and AI solutions are desired.
        </p>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
      >
        <div class="text-center">
          <img
            src="{{ \'/assets/images/Chunsheng Yang.jpg\' | relative_url }}"
            alt="Dr. Chunsheng Yang"
            class="circle-img mb-3"
          />
          <h5>Dr. Chunsheng Yang</h5>
          <h6><i>Fellow of the Canadian Academy of Engineering (FCAE)</i></h6>
          <h6><i>Carelton University, Canada</i></h6>
          <h6><i>Guangzhou University, China</i></h6>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <h3>Biography</h3>
        <p>
          Dr. Chunsheng Yang is a Fellow of the Canadian Academy of Engineering
          (FCAE). He is a Dean of the school of Artificial Intelligence of
          Guangzhou University and a Principal Technical Scientist of Jiadu
          Technology Group Inc. He is the distinguished Visiting Professor with
          Fuyao University of Science and Technology. He is an Adjunct Professor
          with Carleton University (Canada), and East Jiao Tong University. Dr
          Yang used to be a Principal Scientist at the National Research Council
          Canada and a distinguished Professor with Nagoya Institute of
          Technology (Japan). He is interested in data science, machine
          learning, hybrid reasoning, intelligent systems, digital twins and
          Prognostic and Health Management (PHM). He received a Hons. B.Sc. in
          Electronic Engineering from Harbin Engineering University, China, an
          M.Sc. in computer science from Shanghai Jiao Tong University, China,
          and a Ph.D. from the National Hiroshima University, Japan. He worked
          with Fujitsu Inc., Japan, as a Senior Engineer and engaged on the
          development of intelligent traffic management for ATM backbone
          telecommunication networks. He was an Assistant Professor at Shanghai
          Jiao Tong University from 1986 to 1990 working on Hypercube
          Distributed Computer Systems. Dr. Yang has been the author for 240+
          technical papers (book chapters) and reporters published in the
          referred journals and conference proceedings. Dr. Yang is a Program
          Co-Chair of the 20th IEEE International Conference on Computer
          Supported Cooperative Work in Design (CSCWD 2016) and a Program
          Co-Chair for the 17th International Conference on Industry and
          Engineering Applications of Artificial Intelligence and Expert Systems
          in 2004. He is also a guest editor for the International Journal of
          Applied Intelligence and the Journal of Clustering Computing. He
          severs scientific advisor for several instructions such as NSERC,
          Irish Research Council, etc.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
