---
layout: default
title: IEEE UIC 2025
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images/cis-logo.png
  - image: /assets/images/IEEE-CS_LogoTM-orange.png
  - image: /assets/images/tcsc_ieee.png
  - image: /assets/images/IEEE_HI_TC.jpg
  - image: /assets/images/ieee_cpss.png
---

<!-- Hero Section -->
<section
  class="jumbotron text-center"
  style="
    background-image: url('/assets/images/jack-carter-_oYcF7p42xM-unsplash.jpg');
    background-size: cover;
    background-position: center 65%;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">
        The 22nd IEEE International Conference on Ubiquitous Intelligence and
        Computing (Hybrid)
      </h1>
      <div>
        <h3>Calgary, Alberta, Canada</h3>
        <h3 class="">August 18 - 22, 2025</h3>
      </div>
      <div>
        <a class="btn btn-primary" href="#rethinking-research-in-the-age-of-ai"
          >UIC Panel Discussion</a
        >
      </div>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pt-5 pb-5 mt-2 d-flex flex-column gap-2"
>
  <div class="row g-5">
    <div class="col-sm-4 d-flex flex-column gap-4">
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Important Dates</h4>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Paper Submission Deadline</h5>
          <h6 class="text-decoration-line-through">April 14, 2025</h6>
          <h6 class="text-decoration-line-through">
            {{site.data.swc_data.dates.paperSubmission}}
          </h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Authors Notification</h5>
          <h6 class="text-decoration-line-through">
            (extended to) June 10, 2025
          </h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Camera-ready Submission</h5>
          <h6 class="text-decoration-line-through">June 30, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Registration</h5>
          <h6 class="text-decoration-line-through">June 30, 2025</h6>
          <hr class="w-100" />
          <h5 class="fs-6 fw-bold text-center">Conference Dates</h5>
          <h6 class="text-decoration-line-through">August 18 - 22, 2025</h6>
        </div>
      </div>
      <div class="card bg-light-subtle">
        <div
          class="card-body d-flex flex-column justify-content-between align-items-center"
        >
          <h4 class="fs-5 fw-bold">Organizing Committee</h4>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">General Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Bin Hu <br />
                Beijing Institute of Technology, China
              </h5>
              <h5 class="fs-6">
                H. Herbert Song <br />
                University of Maryland, USA
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Program Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Parimala Thulasiraman <br />
                University of Manitoba, Canada
              </h5>
              <h5 class="fs-6">
                Ying Zhang <br />
                Northwestern Polytechnical University, China
              </h5>
              <h5 class="fs-6">
                Xiaokang Wang <br />
                Hainan University, China, <br />
                <a href="xkwang@hainanu.edu.cn">xkwang@hainanu.edu.cn</a>
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Program Vice Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Biyuan Yao <br />
                Hainan University, China
              </h5>
              <h5 class="fs-6">
                Jin Sun <br />
                Nanjing University of Science and Technology, China
              </h5>
              <h5 class="fs-6">
                Xiaolong Xu <br />
                Nanjing University of Information Science, China
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Publicity Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Ryan Gustafson <br />
                Athabasca University, Canada
              </h5>
              <h5 class="fs-6">
                Yan Ding <br />
                Hunan University, China
              </h5>

              <h5 class="fs-6">
                Chen Yang <br />
                Institute of Software, Chinese Academy of Sciences, China 
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Web Chairs</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Raymond Morland <br />Athabasca University, Canada
              </h5>
              <h5 class="fs-6">
                Jiawei Wang <br />
                The University of Warwick, UK
              </h5>
            </div>
          </div>
          <hr class="w-100" />
          <div class="d-flex gap-1 flex-column w-100">
            <h5 class="fs-6 fw-bold">Steering Committee</h5>
            <div class="d-flex flex-column">
              <h5 class="fs-6">
                Jiannong Cao <br />
                The Hong Kong Polytechnic University, HK
              </h5>
              <h5 class="fs-6">
                Liming Chen <br />
                Dalian University of Technology, UK
              </h5>
              <h5 class="fs-6">
                Sumi Helal <br />
                University of Florida, USA
              </h5>
              <h5 class="fs-6">
                Runhe Huang <br />
                Hosei University, Japan
              </h5>
              <h5 class="fs-6">
                Jadwiga Indulska <br />
                University of Queensland, Australia
              </h5>
              <h5 class="fs-6">
                Hai Jin <br />
                Huazhong University of Science and Technology, China
              </h5>
              <h5 class="fs-6">
                Stephen S. Yau <br />
                Arizona State University, USA
              </h5>
              <h5 class="fs-6">
                Zhiwen Yu <br />
                Harbin Engineering University, China
              </h5>
              <h5 class="fs-6">
                Daqing Zhang <br />
                Peking University, China/IP Paris, France
              </h5>
              <h5 class="fs-6">
                Jianhua Ma (Chair) <br />
                Hosei University, Japan
              </h5>
              <h5 class="fs-6">
                Laurence T. Yang (Chair) <br />
                St. Francis Xavier University, Canada
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8 d-flex flex-column gap-4">
      <div>
        <h2 class="fs-2 mb-2">
          Join us at the 2025 IEEE International Conference on Ubiquitous
          Intelligence and Computing
        </h2>
        <p class="fs-5">
          Ubiquitous sensors, devices, networks, and information are paving the
          way towards a smart world in which computational intelligence is
          distributed throughout the physical environment to provide reliable
          and relevant services to people. This ubiquitous intelligence will
          change the computing landscape because it will enable new breeds of
          applications and systems to be developed, and the realm of computing
          possibilities will be significantly extended. By enhancing everyday
          objects with intelligence, many tasks and processes could be
          simplified, more efficient, and more enjoyable. Ubiquitous computing
          is to create such intelligent/smart environments, services, and
          applications.
          <br /><br />
          We welcome high-quality papers that describe original and unpublished
          research advancing the state of the art in ubiquitous intelligence and
          computing. Topics for submissions include but are not limited to the
          following:
        </p>
      </div>
      <div class="row">
        <div class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4">
          <h2 class="fs-2">IEEE UIC 2025 Tracks and Topics</h2>
          <div class="row pb-3 g-4">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="fs-5">
                    Track 1: Intelligent/Smart Object & Interaction
                  </h5>
                  <ul>
                    <li>AutoID technologies such as RFID/iBeacon</li>
                    <li>Embedded Chips, Sensors, and Actuators</li>
                    <li>MEMS, NEMS, Micro, and Biometric Devices</li>
                    <li>Printed Electronics and Pasted Circuits</li>
                    <li>Wearable Devices & Embodied Interaction</li>
                    <li>Materials, Textiles, Fabrics, Furniture, etc.</li>
                    <li>Embedded Software and Agents</li>
                    <li>Interaction to Smart Objects and Devices</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card bg-light-subtle h-100">
                <div class="card-body">
                  <h5 class="fs-5">Track 2: Smart Environment Application</h5>
                  <ul>
                    <li>Intelligent Traffic and Transportation</li>
                    <li>Intelligent Energy Consumption</li>
                    <li>Intelligent Environmental Protection</li>
                    <li>Smart Healthcare and Active Assisted Living</li>
                    <li>Smart Education and Learning</li>
                    <li>Pervasive Games and Entertainment</li>
                    <li>Smart Public Safety and Security</li>
                    <li>Virtual Personal Assistants, Cognitive Experts</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card bg-light-subtle h-100">
                <div class="card-body">
                  <h5 class="fs-5">
                    Track 3: Intelligent/Smart Systems & Services
                  </h5>
                  <ul>
                    <li>Sensor, Ad Hoc, and P2P Networks</li>
                    <li>Wearable, Personal, and Body Area Systems</li>
                    <li>Smart Systems Programming Models</li>
                    <li>Intelligent Services and Architectures</li>
                    <li>Cognitive computing in ubiquitous systems</li>
                    <li>Human Activity Recognition</li>
                    <li>Adaptive, Autonomic & Context-aware Systems</li>
                    <li>Autonomous Cars, Assistive Driving</li>
                    <li>Big Data in Ubiquitous Systems</li>
                    <li>Nature-inspired Intelligent Systems</li>
                    <li>Knowledge Representation and Reasoning</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card bg-light-subtle h-100">
                <div class="card-body">
                  <h5 class="fs-5">
                    Track 4: Personalization and Social Aspects
                  </h5>
                  <ul>
                    <li>Social Computing and Crowd Computing</li>
                    <li>Mobile Crowd Sensing and Sourcing</li>
                    <li>Affect/Emotion/Personality Computing</li>
                    <li>Location-Based Social Networks</li>
                    <li>Human Mobility Modeling and Mining</li>
                    <li>Human Centered Computing</li>
                    <li>Context-aware Computing</li>
                    <li>Recommendation Systems for Ubiquitous Computing</li>
                    <li>Human-centric Design & Sensing</li>
                    <li>Socially Community-aware Systems</li>
                    <li>Security, Privacy, Safety, and Ethical Issues</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="submission">
        <div class="col-sm-12 d-flex flex-column gap-3 justify-content-around">
          <h3 class="">Paper Submission</h3>
          <p class="fs-5">
            All papers need to be submitted electronically through the
            conference submission website (EDAS) in PDF format at EDAS. Each
            paper is limited to 8 pages (or 10 pages with over-length charge)
            for a regular full paper, 6 pages (or 8 pages with over-length
            charge) for a full paper including figures and references using the
            IEEE Computer Society Proceedings manuscripts style.
          </p>
          <h3 class="">Paper Publication</h3>
          <p class="fs-5">
            Papers accepted by IEEE UIC 2025 conference will be published by the
            IEEE Computer Society Press. At least one author of each accepted
            paper is required to register and present their work at the
            conference; otherwise, the paper will not be included in the
            proceedings. All accepted papers will be submitted to IEEE Xplore
            and EI. Distinguished papers presented at the conference, after
            further revision, will be invited for submission to a special issue
          </p>
          <div
            class="d-flex flex-column gap-2 justify-content-start align-items-start"
          >
            <a
              class="btn btn-primary"
              target="_blank"
              href="https://edas.info/N33589"
              >Submit Paper to UIC 2025</a
            >
          </div>
          <h3>Final Paper Instructions</h3>
          <p class="fw-bold fs-5">
            <span style="color: red">Important</span>: Final paper and copyright
            submissions must be made through IEEE CPS (Conference Publishing
            Services), <span style="color: red">NOT EDAS</span>!
          </p>
          <p class="fs-5">
            Below is the link to the SWC 2025 Author's Final Paper Formatting
            and Submission Instructions webpage. It is applicable to all
            co-located conferences (UIC, ATC, DigitalTwin, Metaverse, ScalCom).
            This will allow you to:
          </p>
          <ul class="fs-5">
            <li>Verify/convert your paper using PDF eXpress</li>
            <li>Submit your paper's copyright</li>
            <li>Submit your final paper</li>
          </ul>
          <div
            class="d-flex flex-column gap-2 justify-content-start align-items-start"
          >
            <div class="d-flex flex-row gap-2">
              <a
                class="btn btn-primary"
                target="_blank"
                href="https://ieeecps.org/cps/v2/auth/login?ak=1&pid=2FBloH8EZnpjmoosiBNJHK"
                >Submit Final Paper to UIC 2025</a
              >
              <a class="btn btn-light" href="/final-paper-instructions/"
                >View Final Submission Instructions</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Rethinking Research in the Age of AI -->
<section
  class="page-section container-fluid px-3 pt-3 pb-5 mt-2 d-flex flex-column gap-2"
  id="rethinking-research-in-the-age-of-ai"
>
  <hr />
  <div class="row g-5">
    <div class="col-12 d-flex flex-column gap-4 py-4">
      <h2 class="text-center">
        Panel Discussion: Rethinking Research in the Age of AI
      </h2>
      <h4 class="text-center">
        Telus Convention Centre - Macleod Hall B & C <br />
        Friday August 22, 2025 <br />9:50am - 10:50am
      </h4>
      <div class="fs-5">
        <p>
          The revolutionary advancements of AI capabilities, especially in large
          scale generative models, advanced learning frameworks, and automated
          data mining pipelines, is catalyzing a fundamental transformation in
          how knowledge is produced, validated, and shared across disciplines.
          AI is now reshaping the way we do research, from speeding up
          literature reviews and data cleaning to inspiring new ideas and even
          helping draft papers However, this revolution also raises critical
          concerns about methodological transparency, reproducibility of AI
          assisted results, and recognition of contributions in human-AI
          collaborations. These emerging shifts demand a dedicated forum for the
          research community to explore both the benefits and the risks of
          embedding AI into scholarly workflows.
          <br /><br />
          This panel aims to brings together researchers who have integrated AI
          into their daily research practices and responsible for guiding
          publication processes and upholding scholarly standards. The
          objectives are threefold:
        </p>

        <ol type="1">
          <li>
            Map the impact of AI on research affairs by distinguishing between
            early-stage prototypes and fully deployed systems in tasks such as
            manuscript drafting, data manipulation, and project resource
            organization.
          </li>
          <li>
            Assess the procedural and potential ethical challenges introduced by
            AI tools at every stage of the research lifecycle, from conceptual
            design and data analysis to publication, peer review, and
            post-publication monitoring.
          </li>
          <li>
            Develop institutional recommendations for embedding AI oversight,
            training, and accountability into research processes, ensuring that
            policies on authorship, integrity, and compliance respond to the
            realities of AI-enhanced practices.
          </li>
        </ol>
        <p>
          Through case-study presentations, interactive tool demonstrations, and
          guided discussions, panelists will illuminate both real world
          successes and cautionary lessons, and further reflect on questions of
          trust, accountability, and academic credit. <br /><br />
          By the end of this panel, attendees will have contributed to a
          blueprint for AI's role in scholarship—recognizing both its
          transformative power and the responsibilities it entails. They are
          expected to leave with practical insights on how to harness AI's speed
          without undermining scholarly rigor, learn concrete methods to manage
          AI risks, and a clearer understanding of promoting responsible
          AI-driven innovation in their work. By laying this foundation, this
          panel seeks not only to set a direction for today's AI-empowered
          research but also to spark an ongoing conversation that will shape the
          future of academic work.
        </p>
      </div>
      <div class="row">
        <div
          class="col-12 mb-3 mb-sm-0 d-flex flex-column gap-4 fs-5 text-center text-sm-start"
        >
          <h3>Panel Chairs</h3>
          <!-- Prof. Xiaokang Wang -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Xiaokang Wang.jpg"
                  alt="Prof. Xiaokang Wang"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Xiaokang Wang</h5>
              <h5 class="fw-normal">
                School of Computer Science and Artificial Intelligence,
                Zhengzhou University, Zhengzhou, China
              </h5>
            </div>
          </div>
          <!-- Prof. Jin Sun -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Jin Sun.jpg"
                  alt="Prof. Jin Sun"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Jin Sun</h5>
              <h5 class="fw-normal">
                School of Computer Science and Engineering, Nanjing University
                of Science and Technology, Nanjing, China
              </h5>
            </div>
          </div>
          <h3>Panelists</h3>
          <!-- Prof. Ljiljana Trajkovic -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Ljiljana Trajkovic.png"
                  alt="Prof. Ljiljana Trajkovic"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Ljiljana Trajkovic</h5>
              <h5 class="fw-normal">
                Editor-in-Chief of IEEE Transactions on Human Machine Systems
                (THMS) <br />
                School of Engineering Science, Simon Fraser University, Burnaby,
                Canada
              </h5>
            </div>
          </div>
          <!-- Prof. Bin Hu -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Bin Hu.png"
                  alt="Prof. Bin Hu"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Bin Hu</h5>
              <h5 class="fw-normal">
                Editor-in-Chief of IEEE Transactions on Computational Social
                Systems (TCSS) <br />
                School of Computer Science and Technology, Beijing Institute of
                Technology, Bejing, China
              </h5>
            </div>
          </div>
          <!-- Prof. Man Lin -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/man.jpeg"
                  alt="Prof. Man Lin"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Man Lin</h5>
              <h5 class="fw-normal">
                Computer Science Department, St. Francis Xavier University,
                Antigonish, Canada
              </h5>
            </div>
          </div>
          <!-- Prof. Zheng Yan -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Zheng Yan.jpg"
                  alt="Prof. Zheng Yan"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Zheng Yan</h5>
              <h5 class="fw-normal">
                Editor-in-Chief of Elsevier Information <br />Sciences School of
                Cyber Engineering, Xidian University, Xian, China
              </h5>
            </div>
          </div>
          <!-- Prof. Houbing Herbert Song -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Houbing Herbert Song.jpg"
                  alt="Prof. Houbing Herbert Song"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Houbing Herbert Song</h5>
              <h5 class="fw-normal">
                Editor-in-Chief of IEEE Transactions on Industrial Informatics
                (TII) <br />
                Department of Information Systems, University of Maryland,
                Baltimore County, USA
              </h5>
            </div>
          </div>
          <!-- Prof. Carson Leung -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Carson Leung.jpg"
                  alt="Prof. Carson Leung"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Carson Leung</h5>
              <h5 class="fw-normal">
                Faculty of Science, University of Manitoba, Winnipeg, Canada
              </h5>
            </div>
          </div>

          <!-- Prof. Xiaokang Zhou -->
          <div class="row">
            <div
              class="col-md-3 col-sm-4 mb-3 mb-sm-0 d-flex flex-row gap-4 justify-content-center"
            >
              <div class="text-center">
                <img
                  src="/assets/images/Prof. Xiaokang Zhou.jpg"
                  alt="Prof. Xiaokang Zhou"
                  class="circle-img mb-3"
                />
              </div>
            </div>
            <div class="col-md-9 col-sm-8">
              <h5>Prof. Xiaokang Zhou</h5>
              <h5 class="fw-normal">
                Faculty of Business Data Science, Kansai University, Osaka,
                Japan
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
